#fheader{margin:0 auto !important;position:relative !important;z-index:1001 !important;height:140px !important;}
.twrapper{margin:0 auto !important;position:relative !important;}
#mode,.rssh{display:none !important;}.slidetxt{background:#E87306 !important;}
.footer{height: 460px; border-top: 2px solid #E87306;padding:20px 0;background:#233849 url(footer.jpg) 50% 0 no-repeat !important;color: #3C6281;}