body {
  color: #202020;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6,
.header-content-title-absolute h1,
#discount-coupon-form .discount a,
.shipping a, .block .block-title,
#shopping-cart-totals-table .a-right strong,
.main-container .main .col-main .account-login .page-title h1,
.postContentWrapper .postTitle h2 a {
  color: #202020;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
.arw_tab_title .tab_sub_title h2.title,
.custom-col h3,
.home-3-banners .banner-hover .title-2,
.home-3-banners .banner-hover .title-3,
.home-3-banners .banner-hover-2 .title-2 p,
.home-3-banners .banner-hover-2 .title-1,
.home4-every h4,
.home4-about h4,
.home-two-4 .content-inner h4 {
  font-family: Playfair Display, Arial, Helvetica, sans-serif;
}
a, a:focus {
  color: #202020;
}
a:focus, a:hover {
  text-decoration: none;
}
a:hover, a:focus:hover {
  color: #eeb013;
}
::-moz-selection {
  color: #ffffff;
  background: #eeb013;
}
::selection {
  color: #ffffff;
  background: #eeb013;
}
/* BUTTON STYLE */

.btn{
  -webkit-border-radius: 0; 
  -moz-border-radius: 0; 
  border-radius: 0; 
  line-height: 38px;
  padding: 0 15px;
  text-transform: uppercase;
}
.button, button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  text-shadow: none;
  border: 0;
  padding: 0 15px;
  line-height: 40px;
  float: left;
  margin: 0;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  cursor: pointer;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background: #202020;    
}

.buttons-set { clear:both; margin:4em 0 0; padding:8px 0 0; border-top:1px solid #dddddd; text-align:left; }
.buttons-set p.required { margin:0 0 10px; }
.buttons-set .back-link { float:left; margin:0 0 10px; }
.buttons-set button.button {
    clear: both;
    display: block;
    float: left !important;
    margin: 20px 0 0;
    text-transform: uppercase;
    width: auto;
}
.sf-roll-button {
    display: inline-block;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.35s ease 0s;
    -moz-transition: all 0.35s ease 0s;
    transition: all 0.35s ease 0s;
    padding: 0 15px;
}
.bag-buttons .sf-roll-button{ font-size: 12px; width: 46%;}
.sf-roll-button.bag-button {
	float: left;
}
.sf-roll-button.checkout-button {
	float: right;
}
.sf-roll-button span {
    display: block;
    height: 100%;
    position: relative;
    text-transform: uppercase;
    top: 0;
    -webkit-transition: top 0.35s ease 0s;
    -moz-transition: top 0.35s ease 0s;
    transition: top 0.35s ease 0s;
    width: 100%;
}
.sf-roll-button:hover span {
    top: -100%;
}
.discount-form .buttons-set button.button {
    margin: 0;
    padding: 0;
}
.buttons-set-nova button.button {
    float: right !important;
}
.clear-both{clear: both}
.buttons-set-order { margin:10px 0 0; }
.buttons-set-order .please-wait { padding:12px 7px 0 0; }


.btn-info {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.btn-info:hover, .btn-info:active, .btn-info:focus, 
.btn-info.black:hover, .btn-info.black:active, .btn-info.black:focus {
  background-color: #eeb013;
  border: 1px solid #eeb013;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info.black{
  background-color: transparent;
  border: 1px solid #202020;
  color: #202020;
}
.sf-roll-button span, .button, .btn
{
  font-family: Lato;
}
.btn-default{
  background-color: #eeb013;
  border: 1px solid #eeb013;
  color: #ffffff;
}
.btn-default:hover, .btn-default:active, .btn-default:focus{
  background-color: #202020;
  color: #ffffff !important;
  border: 1px solid #202020;
  box-shadow: none;
}
.btn-lg, .btn-group-lg>.btn{
  letter-spacing: 2px;
  font-size: 12px;
  padding: 4px 25px;
}
.btn-primary {
  background: #eeb013;
  color: #fff;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #202020;
  color: #ffffff;
  outline: none;
}

.notification-content span {
  color: #eeb013;
}
.label {
  color: #202020;
}
.block-account .block-content li.current strong,
.block-account .block-content li:hover,
.block-account .block-content li.current {
  color: #202020;
}
.breadcrumbs ul li span,
.breadcrumbs ul li strong {
  color: #202020;
}
.hidden-class{display:none}
.parallax-box .home4-every p span {
  color: #eeb013;
}
.page {
  background-color: #ffffff;
  border: 0px solid #cccccc;
  position: relative;
}
.toolbar {
  background-color: #ffffff;
}
#header-container #header-section {
  background-color: #ffffff;
}
#header-container .is-sticky #header-section {
  background-color: #ffffff;
}
.header-content-title-absolute,
.header-content-title,
.shopping-bag .mini-cart-total,
.shopping-bag .bag-contents .item,
.postContentWrapper .postTitle h2,
.my-account .dashboard .box-account .box-title,
.box-info .box-title {
  border-bottom: 0px solid #dddddd;
}
#shopping-cart-table thead,
#shopping-cart-table tfoot,
#shopping-cart-table tbody tr,
#discount-coupon-form .discount,
.shipping,
.cart .totals {
  border-top: 1px solid #dddddd;
}
.cart-link {
  float: none;
  background: none !important;
  color: #202020;
  text-decoration: underline;
  letter-spacing: 2.5px;
  padding: 0;
  line-height: 21px;
  display: inline-block;
  vertical-align: top;
}
.cart-link:hover{
  color: #eeb013;
  text-decoration: underline;
}
span.or {
  color: #c2c2c2;
  font-size: 10px;
  padding: 0 20px;
  letter-spacing: 2px;
}
.bag-header a {
  color: #eeb013;
}
.shopping-bag .bag-contents .item .price {
  color: #eeb013;
}
.product-details a:hover {
  color: #eeb013 !important;
}
.box-account .box-head,
.my-account .dashboard .box-account,
.box-info {
  border: 0px solid #dddddd;
}
.product-view .grouped-items-table tr {
  border-bottom: 0px solid #dddddd;
}
.product-view .grouped-items-table th,
.product-view .grouped-items-table td {
  border-right: 0px solid #dddddd;
}
.footer-top .box-content p,
.toolbar-bottom .toolbar,
div.product-view div.product-name,
.product-view .no-rating,
.short-description,
.product-options-bottom,
.detail-availability .availability,
.product-box-left .add-to-box,
.add-to-box .add-to-links,
.novaworks-social-share,
.product-box-left .ratings,
b .block_detail_right1,
.block_detail_right2,
.block_detail_right3,
.buttons-set,
#product-options-wrapper,
.product-box-left .price-box,
.block_detail_right1,
.availability.in-stock {
  border-top: 0px solid #dddddd;
}
.product-view .grouped-items-table {
  border: 0px solid #dddddd;
}
.product-view .grouped-items-table tr {
  border-bottom: 0px solid #dddddd;
}
.product-view .grouped-items-table th,
.product-view .grouped-items-table td {
  border-right: 0px solid #dddddd;
}
.opc .step-title {
  border: 1px solid #dddddd;
}
.sorter .view-mode .grid,
.sorter .view-mode .list,
.sorter .direction,
.sorter .sort-by .current,
.sorter .limiter .current span,
.sorter .sort-by ul,
.sorter .limiter ul,
.sorter .limiter {
  border: 1px solid #dddddd;
}

/* Left column */
.block .block-title {
  border-bottom: 2px solid #dddddd;
  color: #202020;
}

.block .block-content,
.contact-info .contact-left .block_contact_1,
.contact-info .contact-left .block_contact_2,
.contact-info .contact-right .form-list,
.contact-info .contact-left .contact-custom,
#login-form .new-users .content,
#login-form .registered-users .content,
.opc .step-title,
.resp-tabs-container,
#shopping-cart-table thead .first.last,
#cboxContent,
.page-empty,
.twitter_right .twitter_box,
.twitter_left .twitter_box,
.custom_box_right .custom_box,
.custom_box_left .custom_box {
  background-color: #ffffff;
}
.clear-wrap:after, .clear-wrap:before{
  content: "";
  display: table;
  clear: both;
}
.block .block-content a {
  color: #202020;
}
.block .block-content a:hover {
  color: #eeb013;
}
#color-filter, .filter-list, .block-content ul.block-list{ margin: 20px 0 40px; float: left; width: 100%;}
#color-filter li, .filter-list li{
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
#color-filter li label{
  float: left;
  cursor: pointer;
  border: 1px solid #202020;
}
#color-filter li label img{ display: block; border: 1px solid transparent}
#color-filter li label:hover img, #color-filter li input:checked + label img{ border: 1px solid #202020;}

ul.filter-text label {
  min-width: 40px;
  border: 1px solid #202020;
  height: 40px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  padding: 0 11px;
}
ul.filter-text label:hover, ul.filter-text li input:checked + label {
  color: #eeb013;
  border: 1px solid #eeb013;
  font-weight: bold;
}
.tags-list li{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* Left column */

#cart .shopping-bag-item .shopping-bag {
  background-color: #202020;
  color: #ffffff;
}
#cart .shopping-bag-item .shopping-bag a {
  color: #ffffff;
}
#cart .shopping-bag-item .shopping-bag a.btn-remove{float: right}
.shopping-bag .product-details .product-name a {
  color: #ffffff;
}
.col-right .block .block-title {
  border-bottom: 2px solid #dddddd;
  color: #202020;
}
.col-right .block .block-content a {
  color: #202020;
}
.col-right .block .block-content a:hover {
  color: #eeb013;
}
.left-categories .block-title {
  border-bottom: 2px solid #dddddd;
  color: #202020;
}
.left-categories .block-content a {
  color: #202020;
}
.left-categories .block-content a:hover {
  color: #eeb013;
}
.left-categories .block-content ul > li + li,
.left-categories .block-content ul > li ul {
  border-top: 0px solid #ffffff;
}
.pt_vmegamenu div.pt_menu .parentMenu {
  border-bottom: 0px solid #ffffff;
}
.col-left .block-layered-nav .block-title {
  border-bottom: 2px solid #dddddd;
  color: #202020;
}

.col-left .block-layered-nav .block-content li,
.col-left .block-layered-nav .block-content li a {
  color: #202020;
}
.col-left .block-layered-nav .block-content li:hover,
.col-left .block-layered-nav .block-content li a:hover {
  color: #eeb013;
}
.top-header {
  border-top: 0px solid #eeb013;
  border-bottom: 0px solid #eeb013;
}
.header-container-2 .top-header {
  background-color: #2d2d2d;
  border-top: 0px solid #eeb013;
  border-bottom: 0px solid #eeb013;
  color: #c2c2c2;
}
.top-header .welcome-msg,
.store_language .language div.value,
.header-links p.label,
.top-header .currency p.label,
.top-header .currency .aux-currency > a,
#top-search a#top-search-trigger,
.header-container a.cart-contents {
  color: #202020;
}
.header-container-2 .top-header .welcome-msg,
.header-container-2 .store_language .language div.value,
.header-container-2 .header-links p.label,
.header-container-2 .top-header .currency p.label,
.header-container-2 .top-header .currency .aux-currency > a,
.header-container-2 #top-search a#top-search-trigger,
.header-container-2 .header-container a.cart-contents {
  color: #c2c2c2;
}
.is-sticky #top-search a#top-search-trigger,
.is-sticky a.cart-contents {
  color: #202020;
}
.top-header .welcome-msg a {
  color: #c2c2c2;
}
.top-header .welcome-msg a:hover {
  color: #efb633;
}
.top-header ul.links > li,
.top-header ul.language > li,
.top-header ul.currency > li {
  background-color: #202020;
}
.top-header ul.links > li:hover,
.top-header ul.language > li:hover,
.top-header ul.currency > li:hover {
  background-color: #202020;
}
.top-header ul.links > li,
.top-header ul.links > li > a,
.top-header ul.language > li,
.top-header ul.language > li > a,
.top-header ul.currency > li,
.top-header ul.currency > li span {
  color: #c2c2c2;
}
.top-header ul.links > li:hover,
.top-header ul.links > li > a:hover,
.top-header ul.language > li:hover,
.top-header ul.language > li > a:hover,
.top-header ul.currency > li:hover,
.top-header ul.currency > li span:hover {
  color: #eeb013;
}
.top-header ul.currency > li > .current-currency > span,
.top-header ul.language > li.nv-language {
  color: #eeb013;
}
.top-header ul.links li a,
.top-header ul.language li,
.top-header ul.currency li {
  border-bottom: 1px solid #303030;
}
.ajax-search-wrap {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}
.top-search ul li form input {
  background-color: #f3f3f3;
  border: 1px solid #dfdfdf;
  color: #464646;
}
.top-search ul li form input:hover {
  border: 1px solid #dfdfdf;
}
#cart {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-transform: none;
}
#top-search-trigger,
.cart-contents {
  color: #202020;
}
#top-search-trigger:hover,
.cart-contents:hover {
  color: #eeb013;
}
.cart-contents span {
  background-color: #eeb013;
}
.main-navigation .header-topMenu .header-topMenu-inner,
.sticky-wrapper.is-sticky .main-navigation .header-topMenu .header-topMenu-inner {
  background-color: transparent;
}
.main-navigation .header-topMenu,
.sticky-wrapper.is-sticky .main-navigation .header-topMenu {
  border-top: 0px solid #eeeeee;
  border-bottom: 0px solid #eeeeee;
}
ul#novaworks-nav {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}
#novaworks-nav .sub-wrapper {
  color: #202020;
  font-size: 14px;
  text-transform: none;
}
ul#novaworks-nav li.level-top.active a.level-top > span {
  border-bottom: 0px solid #4f4f4f;
  border-top: 0px solid #4f4f4f;
}
.is-sticky ul#novaworks-nav li.level-top.active a.level-top > span {
  border-bottom: 1px solid #202020;
  border-top: 1px solid #202020;
}
ul#novaworks-nav li.last a.level-top {
  border-right: 0;
}
ul#novaworks-nav li.level0.home a {
  color: #202020;
}
ul#novaworks-nav li.level0.home a:hover {
  color: #eeb013;
}
ul#novaworks-nav li.level-top.active > a {
  color: #eeb013;
}
ul#novaworks-nav li.level-top a {
  color: #202020;
}
ul#novaworks-nav li.level-top a:hover {
  color: #eeb013;
}
.is-sticky ul#novaworks-nav li.level-top > a,
.is-sticky ul#novaworks-nav li.level0.first > a {
  color: #202020;
}
ul#novaworks-nav li.level0.first a {
  color: #202020;
}
ul#novaworks-nav li.level0.first a:hover {
  color: #eeb013;
}
ul#novaworks-nav li.level-top.active a.level-top > span {
  color: #eeb013;
}
ul#novaworks-nav li.level0 a {
  color: #202020;
}
ul#novaworks-nav li.level0 a:hover {
  color: #eeb013;
}
#novaworks-nav li.level0 ul li a:hover,
#novaworks-nav li.level0 .groups-wrapper ul li > a:hover {
  background-color: transparent;
}
.blog-slider1 .owl-theme .owl-controls .owl-page:hover span,
.blog-slider1 .owl-theme .owl-controls .owl-page.active span {
  border-color: #eeb013;
}
#novaworks-nav .menut_brands .item img {
  background-color: #ffffff;
}
#novaworks-nav .menut_brands .item:hover {
  background-color: #ffffff;
}
.shown-sub .itemgrid-1col,
.shown-sub .itemgrid-2col,
.shown-sub .itemgrid-3col,
.shown-sub .itemgrid-4col,
.shown-sub .itemgrid-5col,
.shown-sub .itemgrid-6col,
.shown-sub .menut_brands,
.shown-sub .blog,
.shown-sub .custom-link,
.shown-sub .custom-menu,
.shown-sub .menu-custom,
.shown-sub .infor-mation,
.shown-sub .menu_contacts,
#novaworks-nav li .shown-sub li div.shown-sub,
#novaworks-nav .sub-wrapper {
  background-color: #202020;
}
#novaworks-nav li.level0 .level0.shown-sub ul li.groups a:hover {
  background-color: transparent;
}
#novaworks-nav li.level0 div.level0 ul li.groups > a,
#novaworks-nav li.level0 div.level0 ul li.item > a,
.menu_contacts .item .ngw,
.infor-mation .item span {
  background-color: transparent;
  color: #c2c2c2;
}
#novaworks-nav li.level0 ul li > a,
#novaworks-nav li.level0 .groups-wrapper ul li > a,
#novaworks-nav .dropdown ul.level0 li a {
  color: #c2c2c2;
  border-bottom: 0px solid #eeeeee;
}
#novaworks-nav li.level0 ul li > a:hover,
#novaworks-nav li.level0 .groups-wrapper ul li > a:hover,
#novaworks-nav .dropdown ul.level0 li a:hover {
  color: #eeb013;
}
#novaworks-nav li.home .dropdown ul.level0 li {
  border-bottom: 0px solid #eeeeee;
}
#novaworks-nav li.level0 ul li a span.title_group {
  color: #eeb013;
}
#novaworks-nav li.level0 ul li a:hover span.title_group {
  color: #eeb013;
}
.products-list .product-name a,
.block-viewed .block-content ol li .product-name a {
  color: #202020;
}
h3.product-name a {
  color: #202020;
  font-family: Lato, Arial, Helvetica, sans-serif;
}
h3.product-name a:hover {
  color: #eeb013;
}
.novaworks-quick-act > a.act-wishlist,
.novaworks-quick-act > a.act-compare,
.novaworks-quick-act > a.ajaxcart_colorbox,
.novaworks-quick-act > a.act-wishlist,
.novaworks-quick-act > a.ajaxcart_simple {
  color: #c2c2c2;
}
.novaworks-quick-act > a.act-wishlist:hover,
.novaworks-quick-act > a.act-wishlist.active,
.novaworks-quick-act > a.act-compare:hover,
.novaworks-quick-act > a.ajaxcart_colorbox:hover,
.novaworks-quick-act > a.act-wishlist:hover,
.novaworks-quick-act > a.ajaxcart_simple:hover {
  color: #eeb013;
}
.price-box .price {
  font-family: Lato, Arial, Helvetica, sans-serif;
}
.price-box .regular-price .price {
  color: #202020;
}
.price-box .old-price .price {
  color: #202020;
}
.products-list .price-box .old-price .price {
  color: #c2c2c2;
}
.price-box .special-price .price {
  color: #202020;
}
.price-box .minimal-price .price,
.price-box .minimal-price-link .price {
  color: #202020;
}
.button, button {
  font-weight: normal;
  text-transform: uppercase;
}
.button, button,
.buttons-set .alt-button,
.block .actions a,
div.bag-buttons a.sf-roll-button,
.bx-wrapper .bx-controls-direction a,
#shopping-cart-table button.button,
#reorder-validate-detail .actions a.view-all {
  background-color: #eeb013;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #ffffff;
}
.button:hover,
button:hover,
.buttons-set .alt-button:hover,
.block .actions a:hover,
div.bag-buttons a.sf-roll-button:hover,
.bx-wrapper .bx-controls-direction a:hover,
#shopping-cart-table button.button:hover,
#reorder-validate-detail .actions a.view-all:hover {
  background-color: #202020;
  color: #ffffff;
}
.block-compare .block-content .actions > a,
.block-compare .block-content .actions > button.button {
  background-color: #202020;
  color: #ffffff;
}
.block-compare .block-content .actions > a:hover,
.block-compare .block-content .actions > button.button:hover {
  background-color: #eeb013;
  color: #ffffff;
}
.home4-about .button-readmore a,
.products-grid-full .novaworks-quick-act a.add_to_cart_small {
  background-color: #eeb013;
  color: #ffffff;
}
.home4-about .button-readmore a:hover,
.products-grid-full .novaworks-quick-act a.add_to_cart_small:hover {
  background-color: #202020;
  color: #ffffff;
}
.products-grid-full .products-grid .item .item-product-image-box .quick-views a i,
.products-grid-full .products-grid .item .item-product-image-box .detail-views a i {
  color: #202020;
}
.products-grid-full .products-grid .item .item-product-image-box .quick-views a:hover i,
.products-grid-full .products-grid .item .item-product-image-box .detail-views a:hover i {
  color: #eeb013;
}
.products-grid-full .novaworks-quick-act > a.act-wishlist i,
.products-grid-full .novaworks-quick-act > a.act-compare i,
.products-grid-full .novaworks-quick-act > a.ajaxcart_simple i,
.products-grid-full .novaworks-quick-act > a.ajaxcart_colorbox i {
  color: #c2c2c2;
}
.products-grid-full .novaworks-quick-act > a.act-wishlist i:hover,
.products-grid-full .novaworks-quick-act > a.act-compare i:hover,
.products-grid-full .novaworks-quick-act > a.ajaxcart_simple i:hover,
.products-grid-full .novaworks-quick-act > a.ajaxcart_colorbox i:hover {
  color: #eeb013;
}
.products-grid-full .novaworks-quick-act a.add_to_cart_small i {
  color: #202020;
}
.products-grid-full .novaworks-quick-act a.add_to_cart_small:hover i {
  color: #ffffff;
}
.button-2,
.ajax-notification a.button-readmore {
  background-color: none;
  border: 1px solid #202020;
  color: #202020;
}

.button-2:hover,
.ajax-notification a.button-readmore:hover {
  background-color: #eeb013;
  border: 1px solid #eeb013;
  color: #ffffff;
}

#toTop,
.block_detail_right3 .block_detail_right_content span.nv_icon {
  background-color: #eeb013;
}
#toTop:hover,
.block_detail_right3 .block_detail_right_content span.nv_icon:hover {
  background-color: #202020;
}
.pages ol li:hover,
.pages ol li.current {
  border: 0;
  color: #ffffff;
  background-color: #eeb013;
}
.add-to-box .btn-cart,
#shopping-cart-table button.btn-update {
  background-color: #eeb013;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #ffffff;
}
.add-to-box .btn-cart:hover,
#shopping-cart-table button.btn-update:hover {
  background-color: #202020;
  color: #ffffff;
}
.add-to-cart button.button {
  background-color: #eeb013;
  color: #ffffff;
}
.add-to-cart button.button:hover {
  background-color: #d89f10;
  color: #ffffff;
}
.add-to-cart button.button.disabled{
  background: #bbbbbb !important;

}
.add-to-links li a {
  background-color: #dddddd;
  color: #ffffff;
}
.add-to-links li a:hover, .add-to-links .act-wishlist.active {
  background-color: #eeb013;
  color: #ffffff;
}
.products-list .novaworks-quick-act > a.act-wishlist,
.products-list .novaworks-quick-act > a.act-compare,
.products-list .novaworks-quick-act > a.ajaxcart_colorbox {
  background-color: #202020;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #ffffff;
}
.products-list .novaworks-quick-act > a.act-wishlist:hover,
.products-list .novaworks-quick-act > a.act-compare:hover,
.products-list .novaworks-quick-act > a.ajaxcart_colorbox:hover,
.products-list .novaworks-quick-act > a.ajaxcart_simple:hover{
  background-color: #eeb013;
  color: #ffffff;
}
.novaworks-new-badge {
  background-color: #202020;
  color: #ffffff;
}
.novaworks-sale-badge {
  background-color: #eeb013;
  color: #ffffff;
}
.cat-label-label1 {
  background-color: #22486b;
  color: #ffffff;
}
.cat-label-label2 {
  background-color: #df3426;
  color: #ffffff;
}
.home-page-slider .tparrows.default,
.home-page-slider .tp-bullets.simplebullets.round .bullet {
  background-color: #e8e8e8;
}
.home-page-slider .tparrows.default:hover,
.home-page-slider .tp-bullets.simplebullets.round .bullet:hover {
  background-color: #202020;
}
.home-page-slider .tp-bullets.simplebullets.round .bullet.selected {
  background-color: #eeb013;
  cursor: default;
}
#newsletter-block {
  background-image: url(//cdn.shopify.com/s/files/1/0906/9270/t/2/assets/Newsletter.jpg?16689042173033522021);
  background-size: cover;
  background-position: center center;
  min-height: 240px;
}
#newsletter-block #newsletter::-webkit-input-placeholder {
  color: white;
}
#newsletter-block #newsletter:-moz-placeholder {
  color: white;
}
#newsletter-block #newsletter::-moz-placeholder {
  color: white;
}
#newsletter-block #newsletter:-ms-input-placeholder {
  color: white;
}
.contact_us:hover > span.nv_icon,
.nc:hover > span.nv_icon {
  background-color: #eeb013 !important;
}
.availability.in-stock span {
  color: #eeb013;
}
.block-subscribe-popup .indent h3 {
  background-color: #eeb013;
}
#novaworks-nav .menu-colection .overlay .banner-hover a:hover {
  color: #eeb013 !important;
}
#footer_a {
  background-color: ;
  color: #b6b6b6;
}
#footer_a .footer-top ul.icon li a {
  color: #b6b6b6;
}
#footer_a .footer-top ul.icon li a:hover {
  color: #eeb013;
}
#footer_b {
  background-color: ;
  border-top: 0px solid #000000;
}
#footer_b h3 {
  border-bottom: 1px solid ;
  color: #ffffff;
}
#footer_b .widget-text {
  color: #8c8c8c;
}
#footer_b p > a {
  color: #4bb8e2;
}
#footer_b p > a:hover {
  color: #ffffff;
}
#footer_b ul li,
#footer_b span.nv_icon {
  background-color: #525252;
}
#footer_c {
  background-color: ;
  border-top: 0px solid #464646;
}
#banner-block .row {
  margin-bottom: 42px;
}
#footer_c h3 {
  color:;
}
#footer_c .line-ft {
  border-bottom: 1px solid ;
}
#footer_c ul li a {
  color: #7b7b7b;
}
#footer_c ul li a:hover {
  color: #eeb013;
}
#footer_c .widget-text p {
  color: #7b7b7b;
}
#footer_c .widget-text .active-text {
  color: #eeb013;
}
#footer_d {
  background-color: ;
  color: #7b7b7b;
}
#footer_d .footer {
  border-top: 1px solid ;
}
#footer_d ul li a,
#footer_d a,
address a {
  color: #eeb013;
}
#footer_d ul li a:hover,
#footer_d a:hover,
address a:hover {
  color: #ffffff;
}
#footer_e {
  background-color: ;
  border-top: 0px solid #464646;
  color: #7b7b7b;
}
#footer_e a {
  color: #eeb013;
}
#footer_e a:hover {
  color: #ffffff;
}
.nav-tabs > li > a {
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  border-radius: 0 0 0 0;
}
.nav-tabs{
  border-color: #dddddd !important;
}
.nav-tabs > li.active > a{
  color: #eeb013 !important;
  background: #ffffff !important;
  border-color: #dddddd !important;
}
.tab-content {
    padding: 25px;
}
#ajax_loading_tab {
  display: none;
  background-image: url(//cdn.shopify.com/s/files/1/0906/9270/t/2/assets/ajax-loader.gif?16689042173033522021);
}
.review-wrap {
  text-align: left;
  margin-bottom: 5px;
}
.products-grid-full .review-wrap{text-align: center}
.item .spr-badge-caption{display:none}
#popup-newsletter {
  width: 730px;
  height: 425px;
}
#widget-static-block-4 {
  background: url(//cdn.shopify.com/s/files/1/0906/9270/t/2/assets/one_banner_bottom.jpg?16689042173033522021);
  min-height: 380px;
  background-position: center;
}
.parallax-home-v4 {
  background-image: url(//cdn.shopify.com/s/files/1/0906/9270/t/2/assets/one_banner_bottom.jpg?16689042173033522021);
  background-size: cover;
  background-position: center center;
  min-height: 368px;
  margin-bottom: 70px;
}
.rating-5 {
  width: 100%
}
.line-through {
  background: url(//cdn.shopify.com/s/files/1/0906/9270/t/2/assets/line.png?16689042173033522021);
  width: 560px;
  min-height: 14px;
}
.sub-wrapper {
  display: none;
  height: auto;
}
.collapsible {
  margin-left: 0px;
}
.collapsible .plus-right {
  width: 40px;
  height: 40px;
}
#widget-static-block-1 {
  background: url(//cdn.shopify.com/s/files/1/0906/9270/t/2/assets/d_banner1.jpg?16689042173033522021);
  min-height: 470px;
}
#widget-static-block-2 {
  background: url(//cdn.shopify.com/s/files/1/0906/9270/t/2/assets/d_banner2.jpg?16689042173033522021);
  min-height: 470px;
}
#widget-static-block-3 {
  background: url(//cdn.shopify.com/s/files/1/0906/9270/t/2/assets/d_banner3.jpg?16689042173033522021);
  min-height: 470px;
}
/* CONTACT US */

.map-canvas {
  width: 100%;
  height: 400px;
}
/* CHECKOUT */

.please-wait {
  display: none;
}
/* ABOUT US*/

#about-us-section-1 {
  background: #e3e3e3;
}
#about-us-section-1 p {
  font-size: 14px;
  line-height: 25px;
}
#about-us-section-1 .col-1 {
  padding-left: 0;
}
#about-us-section-1 .col-2 {
  padding: 45px 15px;
}
#about-us-section-1 h2 {
  margin: 10px 0;
  font-size: 20px;
}
#about-us-section-1 a {
  font-size: 20px;
  border: 2px solid;
  text-decoration: none !important;
  display: block;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  max-width: 335px;
  height: 50px;
  line-height: 46px;
  margin-top: 50px
}
.section-title {
  margin-top: 20px;
  padding: 20px 0;
}
#about-us-section-2 {
  text-align: center;
}
#about-us-section-3 {
  background: url(//cdn.shopify.com/s/files/1/0906/9270/t/2/assets/about_us_3.jpg?16689042173033522021) no-repeat center;
  background-size: cover;
}
.we-do {
  margin: 40px 0;
}
#about-us-section-3 {
  padding: 40px 0;
}
.we-do i {
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.we-do i:before {
  background-color: #ffffff;
  font-size: 30px;
  width: 89px;
  display: block;
  text-align: center;
  height: 89px;
  line-height: 89px;
}
.we-do p {
  color: #ffffff;
  letter-spacing: 0.5px;
  max-width: 250px;
  margin: auto;
}
.we-do p.we-do-title {
  color: #fff;
  margin: 25px auto;
  font-size: 16px;
  letter-spacing: 2px;
}
.client-say {
  position: relative;
  margin-bottom: 50px;
}
.client-say .avatar {
  position: absolute;
  top: 50%;
  margin-top: -57px;
}
.client-say .content {
  margin-left: 57px;
  line-height: 2;
  border: 1px solid #dddddd;
  padding: 30px 40px 30px 80px;
}
.client-name {
  margin-top: 20px;
}
.client-job {
  color: #909090;
  font-size: 12px;
}
#about-us-section-4 {
  margin-bottom: 130px;
}
/* AJAX GLOBAL MESSAGES */

#ajax_global_messages {
  position: relative;
  z-index: 9999;
}
#ajax_global_messages_close {
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: 10000;
  display: block;
  width: 15px;
  height: 15px;
  background: #666;
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 15px;
  text-decoration: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.messages {
  text-align: center;
}
.messages,
.messages ul {
  list-style: none !important;
}
.messages ul {
  background: none;
}
.messages,
.messages li,
.messages ul,
.messages ul li,
.messages li li {
  margin: 0 !important;
  padding: 0 !important;
}
.messages li.error-msg,
.messages li.success-msg,
.messages li.note-msg,
.messages li.notice-msg {
  border: none !important;
  font-size: 14px !important;
  font-weight: bold !important;
  padding: 10px 35px !important;
  min-height: 22px !important;
  background-position: 13px 13px !important;
  background-repeat: no-repeat !important;
}
.messages li.error-msg {
  background-image: url(//cdn.shopify.com/s/files/1/0906/9270/t/2/assets/i_msg-error.gif?16689042173033522021);
}
.messages li.note-msg,
.messages li.notice-msg {
  background-image: url(//cdn.shopify.com/s/files/1/0906/9270/t/2/assets/i_msg-note.gif?16689042173033522021);
}
.messages li.success-msg {
  background-image: url(//cdn.shopify.com/s/files/1/0906/9270/t/2/assets/i_msg-success.gif?16689042173033522021);
}
.note-msg,
.notice-msg {
  color: #d6b501;
}
.ajax-notification {
  display: none;
  position: fixed;
  left: 50%;
  top: 0;
  width: 300px;
  margin-left: -150px;
  padding: 1.5em 30px;
  background-color: #fff;
  font-size: 14px;
  line-height: 18px;
  color: #999;
  text-align: center;
  z-index: 999999;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.ajax-notification .btn-remove {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  height: auto;
  padding: 0;
  line-height: 1;
  margin: 0;
  font-size: 1em;
}
.ajax-notification a.button-readmore {
  border: 1px solid #202020;
  color: #202020;
  font-size: 10px;
  display: inline-block;
  letter-spacing: 2px;
  line-height: 30px;
  padding: 0 10px;
  margin-top: 20px;
  text-transform: uppercase;
}
/* POPUP NEWSLETTER */

.block-subscribe-popup {
  background: url(//cdn.shopify.com/s/files/1/0906/9270/t/2/assets/popup_newsletter_bg.jpg?16689042173033522021) no-repeat right;
  width: 828px;
  display: none;
}
.block-subscribe-popup .indent {
  float: left;
  padding: 78px 0 0 40px;
  text-align: left;
  width: 65%;
}
.block-subscribe-popup .indent h3 {
  background-color: #eeb013;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0.75px;
  line-height: 47px;
  margin: 0 0 15px;
  padding: 0 20px;
  text-transform: uppercase;
}
.block-subscribe-popup .indent label {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.75px;
  line-height: 24px;
  margin: 0 0 40px;
}
.block-subscribe-popup .indent .input-box {
  position: relative;
  width: 100%;
  max-width: 515px;
}
.block-subscribe-popup .indent .input-box > #newsletter-2 {
  background-color: #FFF;
  color: #202020;
  font-size: 14px;
  height: 47px;
  letter-spacing: 3px;
  line-height: 47px;
  padding-left: 25px;
  text-transform: none;
}
.block-subscribe-popup .indent .input-box > button.button {
  border-left: 0 !important;
  color: #202020 !important;
  height: 47px !important;
  line-height: 47px !important;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}
.block-subscribe-popup .indent input[type="text"] {
  background-color: rgba(242, 242, 242, 0.3);
  border: 1px solid #dddddd;
  color: #a9a9a9 !important;
  display: block;
  font-size: 14px;
  height: 40px;
  margin-bottom: 30px;
  padding: 7px 25px;
  width: 100%;
}
.block-subscribe-popup .indent button.button {
  font-size: 12px;
  letter-spacing: 2.5px;
  line-height: 40px;
  padding: 0 15px;
}
.block-subscribe-popup .indent .subscribe-bottom {
  clear: both;
  cursor: pointer;
  float: left;
  font-size: 14px;
  line-height: 11px;
  margin: 0;
}
.block-subscribe-popup .indent .subscribe-bottom input {
  margin: -3px 10px 0 0;
}
#advice-validate-email-newsletter {
  color: #fff;
  position: relative;
  top: 5px;
}
#newsletter {
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  height: 80px;
  letter-spacing: 3px;
  line-height: 80px;
  padding-left: 40px;
  padding-right: 115px;
  text-transform: uppercase;
}
#newsletter-validate-detail .input-box {
  max-width: 733px;
  width: 100%;
}
#newsletter-validate-detail button.button {
  border-left: 1px solid #fff;
  color: #fff;
  height: 80px;
  line-height: 80px;
}
.newsletter-box {
  border-top: 1px solid #ECEBEB;
}
#newsletter-validate-detail {
  margin: 0;
}
.form-subscribe {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}
.form-subscribe-header {
  float: left;
  max-width: 390px;
  text-align: left;
  width: 100%;
}
.form-subscribe-header label {
  margin: 0;
  padding: 10px 0;
}
.form-subscribe .validation-advice {
  position: absolute;
  bottom: -30px;
}
#home-3-banner .owl-item {
  padding: 0 5px;
}
.form-subscribe input[type="email"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 20px 5px 10px;
  line-height: 21px;
  height: 32px;
  display: block;
  border: 0;
}
.form-subscribe > form {
  position: relative;
}
.form-subscribe input {
  color: #999;
  height: 40px;
  line-height: 40px;
  padding: 0 0 0 10px;
  width: 100%;
}
/* REPONSIVE TAB */

ul.resp-tabs-list,
p {
  margin: 0;
  padding: 0;
}
.resp-tabs-list li.resp-tab-item {
  background-color: transparent !important;
  color: #202020;
}
.resp-tabs-list li.resp-tab-item:hover {
  background-color: transparent !important;
  color: #eeb013;
}
.resp-tabs-list li.resp-tab-active {
  background-color: transparent !important;
  color: #eeb013;
}
.resp-tabs-list li {
  border: none!important;
  border-bottom: 0!important;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 60px;
  padding-left: 27px;
  text-transform: uppercase;
}
.resp-tabs-container {
  background-color: #fff;
  clear: left;
  padding: 0;
}
h2.resp-accordion {
  cursor: pointer;
  display: none;
  font-size: 13px;
  border: 1px solid #c1c1c1;
  border-top: 0 solid #c1c1c1;
  margin: 0;
  padding: 10px 15px;
}
.resp-tab-content {
  display: none;
  border: 1px solid #dddddd;
  padding: 30px 25px;
}
.detail_layout_1 .resp-tab-content {
  margin-top: -10px;
  padding: 0 50px 70px 30px;
}
.resp-tab-content div.std {
  color: #c2c2c2;
  line-height: 36px;
}
.detail_layout_1 .resp-tab-content div.std {
  font-size: 14px;
  letter-spacing: .5px;
}
.resp-tab-active {
  border: 1px solid #dddddd!important;
  border-bottom: 0;
  margin-bottom: -1px!important;
}
.detail_layout_1 .resp-tab-active {
  border: 1px solid #dddddd!important;
  border-bottom: 0!important;
}
.detail_layout_1 h2.resp-accordion {
  border: 1px solid #c1c1c1;
  line-height: 70px;
  padding: 0 30px;
}
h2.resp-tab-active {
  border-bottom: 0 solid #c1c1c1!important;
  margin-bottom: 0!important;
  background: #DBDBDB;
  padding: 10px 15px!important;
}
.detail_layout_1 h2.resp-tab-active {
  padding: 10px 30px!important;
}
h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1!important;
  background: blue;
}
.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
  margin: 0!important;
}
.resp-vtabs .resp-tabs-list li {
  border: 1px solid #dddddd!important;
  border-bottom: 0!important;
  display: block;
  cursor: pointer;
  float: none;
}
.resp-vtabs .resp-tabs-container {
  background-color: #fff;
  border: 1px solid #dddddd!important;
  clear: none;
  float: left;
  margin-left: -1px;
  min-height: 244px;
  width: 68%;
  padding: 0;
}
.detail_layout_1 .resp-vtabs .resp-tabs-container {
  border: none!important;
}
.resp-vtabs .resp-tab-content {
  border: none;
  word-wrap: break-word;
}
.resp-vtabs li.resp-tab-active {
  border: 1px solid #dddddd;
  border-right: 1px #FFF solid!important;
  margin-right: 0!important;
  position: relative;
  z-index: 1;
}
.resp-arrow:before {
  content: "\f107";
  float: right;
  font-family: fontawesome;
  font-size: 18px;
}
h2.resp-tab-active span.resp-arrow:before {
  content: "\f106";
  float: right;
  font-family: fontawesome;
  font-size: 18px;
}
.resp-easy-accordion .resp-tab-content {
  border: 1px solid #c1c1c1;
}
.resp-easy-accordion .resp-tab-content:last-child {
  border-bottom: 1px solid #c1c1c1;
}
.resp-jfit {
  width: 100%;
  margin: 0;
}
h2.resp-accordion:first-child {
  border-top: 1px solid #c1c1c1;
}
.tab-for-layout-1.resp-vtabs .resp-tabs-container {
  width: 100%;
}
.resp-tabs-list li:last-child,
.resp-vtabs .resp-tabs-list li:last-child {
  border-bottom: 1px solid #dddddd!important;
}
.resp-content-active,
.resp-accordion-active,
.resp-easy-accordion h2.resp-accordion,
.resp-tab-content-active {
  display: block;
}
@media only screen and max-width 2910px {
  .tab-for-layout-1 ul.resp-tabs-list {
    display: none;
  }
  .tab-for-layout-1 h2.resp-accordion {
    background: none!important;
    border: 1px solid #dddddd!important;
    display: block;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  .tab-for-layout-1 h2.resp-accordion.resp-tab-active {
    border-bottom: 0!important;
  }
  .tab-for-layout-1.resp-vtabs .resp-tab-content {
    border: 1px solid #dddddd!important;
    border-top: 0!important;
    margin-bottom: 20px;
  }
  .tab-for-layout-1.resp-vtabs .resp-tabs-container {
    border: none;
    float: none;
    width: 100%;
    min-height: 100px;
    clear: none;
  }
  .tab-for-layout-1 .resp-accordion-closed {
    display: none!important;
  }
  .tab-for-layout-1 .resp-vtabs .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1!important;
  }
}
@media only screen and max-width 768px {
  ul.resp-tabs-list {
    display: none;
  }
  h2.resp-accordion {
    display: block;
  }
  .resp-vtabs .resp-tab-content {
    border: 1px solid #C1C1C1;
  }
  .resp-vtabs .resp-tabs-container {
    border: none;
    float: none;
    width: 100%;
    min-height: 100px;
    clear: none;
  }
  .resp-accordion-closed {
    display: none!important;
  }
  .resp-vtabs .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1!important;
  }
}
/* HOME PRODUCT TAB */
.arw_tab_slider .tab-content{display: none; padding: 0}
.arw_tab_slider .tab-content.active{display: block}
.sidebar .arw_tab_slider {
  margin-bottom: 3em;
}
.arw_tab_slider ul.slider-tab li.active a,
.arw_tab_slider ul.slider-tab li:hover a {
  color: #eeb013;
}
.arw_tab_title .tab_title {
  overflow: hidden;
  position: relative;
  text-align: center;
}
.arw_tab_title .tab_title h2.title {
  background-color: #ffffff;
  display: inline-block;
  font-size: 20px;
  letter-spacing: 4px;
  margin-bottom: 5px;
  padding: 0 20px;
  position: relative;
  z-index: 2;
}
.arw_tab_title .tab_title p {
  border-bottom: 2px solid #202020;
  margin: 0 auto;
  position: relative;
  top: -22px;
  width: 100%;
  max-width: 390px;
  z-index: 1;
}
.arw_tab_title .tab_sub_title {
  overflow: hidden;
  position: relative;
  text-align: center;
}
.arw_tab_title .tab_sub_title h2.title {
  color: #c2c2c2;
  font-size: 18px;
  font-style: italic;
  margin: 0 0 50px;
  text-transform: none;
}
.arw_tab_slider {
  position: relative;
  text-align: center;
  min-height: 200px;
}
.arw_tab_slider:after {
  clear: both;
  content: '';
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
}
.arw_tab_slider:after {
  clear: both;
  content: '';
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
}
.arw_tab_slider ul.slider-tab {
  display: inline-block;
  list-style: none;
  margin-top: 0;
  margin-bottom: 45px;
  padding-left: 0;
}
.arw_tab_slider ul.slider-tab:after {
  clear: both;
  content: '';
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
}
.arw_tab_slider ul.slider-tab li {
  border: 1px solid #f2f2f2;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 35px;
  margin-right: 16px;
  padding: 0 20px;
  text-transform: uppercase;
}
.arw_tab_slider ul.slider-tab li:last-child {
  margin-right: 0;
}
.arw_tab_slider ul.slider-tab li a {
  color: #c2c2c2;
  text-decoration: none;
}
.arw_tab_slider .arw_tab_items {
  list-style: none;
  padding-left: 0;
}
.products-grid-full .products-grid .item {
  padding: 0;
  overflow: hidden;
}
.products-grid-full div.item {
  margin-bottom: 0;
}
.products-grid-full .novaworks-sale-badge {
  left: 20px;
  position: absolute;
  top: 20px;
}
.products-grid-full .novaworks-new-badge {
  position: absolute;
  right: 20px;
  top: 20px;
}
.products-grid-full .products-grid .item .product-hover-box {
  bottom: 20px;
  left: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  opacity: 0;
  text-align: center;
}
.products-grid-full .products-grid .item:hover .product-hover-box {
  opacity: 1;
}
.products-grid-full .products-grid .item .item-product-image-box .product-hover-box {
  background-color: rgba(255, 255, 255, 1);
}
.products-grid-full .products-grid .item h3.product-name {
  text-align: center;
}
.products-grid-full .products-grid .item .price-box {
  display: inline-block;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}
.products-grid-full .products-grid .item .item-product-image-box .quick-views,
.products-grid-full .products-grid .item .item-product-image-box .detail-views{
  display:inline-block;
  margin: 0 5px 20px;
}

.products-grid-full .products-grid .item .item-product-image-box .quick-views a {
  border: 1px solid #f7f6f5;
  display: block;
  float: left;
  height: 48px;
  line-height: 48px;
  width: 48px;
}
.products-grid-full .products-grid .item .item-product-image-box .detail-views a {
  border: 1px solid #f7f6f5;
  display: block;
  float: left;
  height: 48px;
  line-height: 48px;
  width: 48px;
}
.product-hover-box .table {
    width: 100%;
    height: 100%;
    display: table;
}

.product-hover-box .table-cell {
    display: table-cell;
    vertical-align: middle;
}
.products-grid-full .products-grid .item h3.product-name {
  margin: 0 0 30px;
}
.products-grid-full .products-grid .item h3.product-name a {
  font-size: 14px;
}
.products-grid-full .novaworks-quick-act {
  margin: 0 0 30px 0;
}
.products-grid-full .novaworks-quick-act > a.act-compare {
  margin-right: 0;
}
.products-grid-full .products-grid .item .novaworks-add-to-cart {
  margin: 0;
}
.products-grid-full .novaworks-quick-act > a.act-wishlist,
.products-grid-full .novaworks-quick-act > a.act-compare,
.products-grid-full .novaworks-quick-act > a.ajaxcart_simple,
.products-grid-full .novaworks-quick-act > a.ajaxcart_colorbox {
  float: none;
}
.products-grid-full .novaworks-quick-act > a.act-wishlist i,
.products-grid-full .novaworks-quick-act > a.act-compare i,
.products-grid-full .novaworks-quick-act > a.ajaxcart_simple i,
.products-grid-full .novaworks-quick-act > a.ajaxcart_colorbox i {
  color: #c2c2c2;
}
.products-grid-full .novaworks-quick-act a.add_to_cart_small {
  display: inline-block;
  letter-spacing: 2px;
  line-height: 40px;
  padding: 0 20px;
  text-transform: uppercase;
}
div.ajax_loading_tab {
  background: url(//cdn.shopify.com/s/files/1/0906/9270/t/2/assets/ajax-loader.gif?16689042173033522021) no-repeat scroll 50% 50% transparent;
  display: none;
  height: 100px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100px;
  z-index: 9999;
}
div#backgroundajax_tab {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  background-color: #E3E3E3;
  opacity: 0.3;
}
/* LEFT COLUMN */

#sidebar-nav {
  margin-bottom: 15px;
  position: relative;
}
#sidebar-nav-menu,
#sidebar-nav-menu ul,
#sidebar-nav-menu ul li,
#sidebar-nav-menu ol,
#sidebar-nav-menu ol li {
  margin: 0;
  padding: 0;
}
#sidebar-nav .block-title {} #sidebar-nav .block-title strong {} #sidebar-nav .block-content {
  overflow: auto;
}
#sidebar-nav .block-content a {
  line-height: 1.7;
}
#sidebar-nav-menu > li {} #sidebar-nav-menu > li.last {
  background: none;
}
#sidebar-nav-menu li ul {
  font-weight: normal;
}
#sidebar-nav li.active,
#sidebar-nav li.active > a,
#sidebar-nav li.active > .collapsible-wrapper > a {} #sidebar-nav ul.ul-thumb {
  padding-left: 0;
}
#sidebar-nav-menu > li.parent > ul.ul-thumb {
  padding-left: 10px;
}
#sidebar-nav li.thumb {
  list-style-type: none;
}
#sidebar-nav-menu > li.no-thumb,
#sidebar-nav-menu > li.thumb {
  margin-left: 0 !important;
  list-style-type: none;
}
#sidebar-nav img {
  border: 0 none !important;
  outline: 0 none !important;
}
#sidebar-nav span.product-count {
  color: #000;
}
#sidebar-nav .home {
  list-style: none !important;
}
#sidebar-nav .home a {} #sidebar-nav .support-logo-wrapper {
  margin-top: 10px;
}
#sidebar-nav .support_logo {
  font-size: 9px;
  float: right;
  right: 5px;
  bottom: 5px;
  text-decoration: none;
}
#sidebar-nav .support_logo img {
  max-width: 65px;
}
#sidebar-nav li.thumb .thumb-img-left {
  float: left;
  margin: 1px 3px 0 0;
}
#sidebar-nav li.thumb .thumb-img-right {
  float: right;
  margin: 1px 3px 0;
}
#sidebar-nav-menu .arrow-left,
#sidebar-nav-menu .arrow-right,
#sidebar-nav-menu .plus-left,
#sidebar-nav-menu .plus-right {
  float: left;
  background: url(//cdn.shopify.com/s/files/1/0906/9270/t/2/assets/arrows.gif?16689042173033522021) left center no-repeat;
  display: block;
  cursor: pointer;
}
#sidebar-nav-menu .plus-left,
#sidebar-nav-menu .plus-right {
  background-image: url(//cdn.shopify.com/s/files/1/0906/9270/t/2/assets/plus.png?16689042173033522021);
}
#sidebar-nav-menu .plus-right.active{
  background-position: 100% 50%;
}
#sidebar-nav-menu .plus-left:hover,
#sidebar-nav-menu .plus-right:hover {
  background-color: #FFF;
}
#sidebar-nav-menu .arrow-right,
#sidebar-nav-menu .plus-right {
  float: right;
  display: inline !important;
}
#sidebar-nav-menu li ul[data-expanded="0"] {
  display: none;
}
#sidebar-nav li.active > ul {
  display: block;
}
#sidebar-nav li.active > .arrow-left,
#sidebar-nav li.active > .arrow-right,
#sidebar-nav li.active > .plus-left,
#sidebar-nav li.active > .plus-right {
  display: block;
  background-position: right center;
}
#sidebar-nav-menu > li.collapsible {
  list-style: none !important;
}
#sidebar-nav .collapse-name {
  cursor: pointer;
}
#customer_sidebar h2{margin-top: 0}

/* FAQ */

.faq-tab-container {
  display: none;
}
.faq-tab-container.active {
  display: block;
}
.panel-group .panel a i:before {
  content: "\f105" !important;
}
.panel-group .panel.active a i:before {
  content: "\f107" !important;
}
#faq-search .input-text {
  height: 53px;
  line-height: 53px;
  border: 1px solid #dddddd;
  color: #202020;
  padding: 7px 15px;
  letter-spacing: 2px;
}
#faq-search button {
  position: absolute;
  right: 0;
  top: 0;
  height: 53px;
  width: 53px;
  padding: 0;
  background: none;
  color: #202020;
  font-size: 15px;
  outline: none;
}
#faq-search {
  position: relative;
}
li.faq-tab-item {
  line-height: 38px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}
li.faq-tab-item a:hover,
li.faq-tab-item a:focus:hover {
  color: #202020;
}
ul.faqs {
  clear: both;
  margin-top: 30px;
}
li.faq-tab-item i {
  width: 40px;
  text-align: center;
}
li.faq-tab-item.active {
  background: #eeb013 url(//cdn.shopify.com/s/files/1/0906/9270/t/2/assets/faq_title_bg.png?16689042173033522021) right center no-repeat;
}
#accordion {
  margin-top: 55px;
}
.support-item a {
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid #202020;
  border-radius: 50%;
  line-height: 96px;
  margin: 0 auto 20px;
  font-size: 32px;
}
.support-item a:hover {
  background: #f3f3f3;
  border: 1px solid #f3f3f3;
}
.support-item p {
  font-size: 14px;
  color: #c2c2c2;
  line-height: 24px;
}
.support-item {
  margin-bottom: 60px;
}
.support-item p.support-title {
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #202020;
}
::-webkit-input-placeholder {
  color: #202020;
}
:-moz-placeholder {
  /* Firefox 18- */

  color: #202020;
}
::-moz-placeholder {
  /* Firefox 19+ */

  color: #202020;
}
:-ms-input-placeholder {
  color: #202020;
}
.panel-group .panel {
  border-radius: 0;
  border: 1px solid #dddddd;
  background: #ffffff;
}
.panel-group .panel-default > .panel-heading {
  color: #202020;
  background-color: #ffffff;
  border: none;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 1.2;
  padding: 0;
}
.panel-group .panel-default > .panel-heading .panel-title a{
  color: inherit;
  padding: 20px;
  display: block;
}
.panel-group .panel {
  box-shadow: none;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.panel-default .panel-body {
  border-top: 0 !important;
}
.panel-group .panel.active {
  border-color: #eeb013;
}
.panel-group .panel.active a i {
  color: #eeb013;
}
.panel-default .panel-body {
  padding-top: 0;
  color: #c2c2c2;
  line-height: 2;
  font-size: 12px;
  letter-spacing: 0.5px;
}
/* Home slider */
#rev_slider_4{display:none}
.top-container {
  z-index: 99;
  position: relative;
}
#rev_slider_4 .tp-caption{
  font-family: Lato;
}
#rev_slider_4 ul li:nth-child(1) .rv-heading{
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 3px;
  font-weight: 300;
}
#rev_slider_4 ul li:nth-child(1) .rv-description{
  font-size: 72px;
  color: #ffffff;
  letter-spacing: 9px;
  line-height: 1;
}
#rev_slider_4 ul li:nth-child(1) .rv-button{
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 4px;
  line-height: 32px;
  font-weight: 300;
  white-space:  normal;
  display: block;
  text-transform: uppercase;
  text-align: center;
}

#rev_slider_4 ul li:nth-child(2) .rv-heading{
  font-size: 55px;
  color: #ffffff;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 300;
  padding: 22px 40px;
  background: rgba(0,0,0,0.5);
}
#rev_slider_4 ul li:nth-child(2) .rv-description{
  font-size: ;
  color: #ffffff;
  letter-spacing: ;
  line-height: 1;
  font-weight: 300;
}
#rev_slider_4 ul li:nth-child(2) .rv-description span{
  font-size: 72px;
  line-height: 53px;
  display: inline-block;
  font-weight: bold;
  color: #635143;
  vertical-align: bottom;
}
#rev_slider_4 ul li:nth-child(2) .rv-button{
  font-size: 14px;
  color: #fffcfc;
  border: 1px solid #fffcfc !important;
  letter-spacing: 4px;
  line-height: 41px;
  display: block;
  padding: 0 30px;
  text-transform: uppercase;
}


#rev_slider_4 ul li:nth-child(3) .rv-heading{
  font-size: 24px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: 300;
}
#rev_slider_4 ul li:nth-child(3) .rv-description{
  font-size: 18px;
  color: #7a7368;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 300;
}
#rev_slider_4 ul li:nth-child(3) .rv-button{
  font-size: 14px;
  color: #ffffff;
  border: 1px solid #ffffff!important;
  letter-spacing: 4px;
  line-height: 41px;
  display: block;
  padding: 0 30px;
  text-transform: uppercase;
}

#rev_slider_4 ul li:nth-child(4) .rv-heading{
  font-size: 111px;
  color: #ffffff;
  letter-spacing: ;
  line-height: 1;
  font-weight: 300;
}
#rev_slider_4 ul li:nth-child(4) .rv-description{
  font-size: 18px;
  color: #ffffff;
  letter-spacing: ;
  line-height: 1;
  font-weight: 300;
}
#rev_slider_4 ul li:nth-child(4) .rv-button{
  font-size: 14px;
  color: #ffffff;
  border: 1px solid #ffffff!important;
  letter-spacing: 4px;
  line-height: 41px;
  display: block;
  padding: 0 30px;
  text-transform: uppercase;
}

#rev_slider_4 ul li:nth-child(5) .rv-heading{
  font-size: 111px;
  color: #ffffff;
  letter-spacing: ;
  line-height: 1;
  font-weight: 300;
}
#rev_slider_4 ul li:nth-child(5) .rv-description{
  font-size: 18px;
  color: #ffffff;
  letter-spacing: ;
  line-height: 1;
  font-weight: 300;
}
#rev_slider_4 ul li:nth-child(5) .rv-button{
  font-size: 18px;
  color: #ffffff;
  border: 1px solid #ffffff!important;
  letter-spacing: 4px;
  line-height: 41px;
  display: block;
  padding: 0 30px;
  text-transform: uppercase;
}
/* Testimonial */
.testimonia-bg {
  background-image: url(//cdn.shopify.com/s/files/1/0906/9270/t/2/assets/testimonial-bg.jpg?16689042173033522021);
  background-size: cover;
  background-position: center center;
  min-height: 441px;
  padding-bottom: 25px;
  padding-left: 100%;
  padding-right: 100%;
}
/* Paginition */
.pagination>li>a, .pagination>li>span {
  position: relative;
  text-decoration: none;
  margin-left: -1px;
  border: 1px solid #dddddd;
  float: left;
  line-height: 40px;
  padding: 0 20px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
  margin-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.pagination>li>span.active {
  color: #eeb013;
}
.pagination>li>a, .pagination>li>span {
  position: relative;
  text-decoration: none;
  margin-left: -1px;
  border: 1px solid #dddddd;
  float: left;
  line-height: 40px;
  color: #222222;
  padding: 0 20px;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  color: #eeb013;
  background-color: #eee;
  border-color: #ddd;
}

/* 
Swatches Styles
*/
.swatch {
  margin: 0 0 20px;
}
.swatch > label {
  float: left;
  display: block;
  width: 100%;
}
/* Hide radio buttons.*/
.swatch input { 
  display:none;
}

.color.swatch-element label { padding:0; margin: 0; float: left; border: 1px solid #202020; }
.swatch-element.text label{
  min-width: 40px;
  border: 1px solid #202020;
  height: 40px;
  padding: 0 10px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  margin: 0;
}
.swatch-element.text input:checked + label, .swatch-element.text label:hover{
  color: #eeb013;
  border: 1px solid #eeb013;
  font-weight: bold;
}
/* Styling selected swatch */
/* Slightly raised */
.swatch input:checked + label img, .swatch label:hover img {
  border: 1px solid #202020;
} 
.swatch-element.color img {
  display: block;
  border: 1px solid transparent;
}
.swatch-element {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
label img{
  pointer-events: none;
}
/* Customer page style */
#customer_sidebar h3 {
  margin-top: 0;
}
.customer_address_table .label {
  padding-bottom: 5px;
  margin: 15px 0 5px;
  padding: 0;
  color: #c2c2c2;
  float: left;
  position: relative;
  z-index: 0;
  text-transform: uppercase;
}
.action_bottom .or{
  font-size: 12px !important;
  float: left;
}
.address_table .buttons-set a{ 
  margin-right: 15px;   }
/* Wishlist */
.wishlist-product .product-item .action{display: inline-block;  vertical-align: top;}
.errors, .errorForm {
  color: red;
  margin-bottom: 30px;
}
.fancybox-close, #cboxClose{
  background-color: #eeb013;
  background-position: center center;
  width: 35px;
  height: 35px;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
#cboxNext:hover, #cboxPrevious:hover{
	background-color: #eeb013 !important;
}