@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
table{border-collapse:collapse;border-spacing:0;}
q:before,q:after,blockquote:before,blockquote:after{content: "";}
*{margin:0;padding:0;}

html,body{background:transparent;color:#333;text-align:center;margin:0;padding:0;} 
body{font:100 14px/22px arial,helvetica,verdana,sans-serif;margin:0;padding:0;background:#fff url(01.jpg) repeat-x 0 0;}

/* ----------------------------------- tags */
.post h1,h2{font:100 26px/26px 'Source Sans Pro',Georgia,Times New Roman,Times,serif;font-variant:small-caps;text-shadow:#333 1px 1px 1px;}
h3{font:100 22px/22px 'Source Sans Pro',Times New Roman,Times,Baskerville,serif;font-variant:small-caps;text-shadow:#000 1px 1px 1px;}
h4{font:100 18px/22px 'Source Sans Pro',Georgia,Times New Roman,Times,serif;text-shadow:#000 1px 1px 1px;}
h5{font:100 14px/15px 'Source Sans Pro',Georgia,Times New Roman,Times,serif;color:#83C1DB;padding:0;margin:0 8px 0 0;text-align:right;text-shadow:#000 1px 1px 1px;}
h3 span,h2 span{color:#83C1DB;}
h5{color:#666;font:100 10px 'Source Sans Pro',times new roman,serif;padding:0;margin:0;text-transform:uppercase;text-align:right;}
h6{font:100 37px 'Source Sans Pro',georgia,Helvetica,Sans-Serif;color:#333;padding:0;margin:-12px 0 0 0;text-align:right;color:#666;}

/* ----------------------------------- links */
a{color:#333;text-decoration:none;}
a:hover{color:#666;}
a img, img{border:0;}

/* ----------------------------------- wrap */
.wrapper{margin:0 auto;text-align:left;width:980px;background:transparent;overflow:hidden;}

/* ----------------------------------- header */ 
#header{background:transparent url(02.jpg) no-repeat 0 0;padding:0;height:126px;overflow:hidden;position:relative;}
#headleft{width:59%;height:125px;margin:0;padding:17px 0 0 0;float:left;display:inline-block;overflow:hidden;background:transparent url(03.png) no-repeat 100% 0;}
#headleft h1 a{margin:10px 0;color:#83C1DB;padding:0 0 0 100px;text-transform:uppercase;text-shadow:#333 1px 1px 1px;font:100 52px 'Source Sans Pro',Georgia,Times New Roman,Times,serif;}
#headleft h1 span{color:#fff;letter-spacing:2px;font-size:70%;font-variant:small-caps;text-shadow:#000 1px 1px 1px;}
#headleft a{margin:0;padding:0;display:block;width:100%;height:125px;}
.des{color:#fafafa;letter-spacing:-1px;font:100 18px trebuchet ms,arial,helvetica;padding:0;text-transform:uppercase;line-height:18px;text-shadow:#000 1px 1px 1px;position:absolute;top:79px;left:100px;}

/* ----------------------------------- header flag */
#headright{width:39%;height:120px;margin:0;padding:30px 0;float:right;display:inline-block;overflow:hidden;background:transparent;text-align:right;}
#headright .flag{margin:12px 0 0 0;padding:0;background:transparent url(09b.png) no-repeat center right;width:80px;height:28px;float:right;position:absolute;top:58px;right:0;}
#headright .flag a{margin:0;padding:0;background:transparent;width:35px;height:20px;float:right;}
#headright h3,#headright h4{color:#fafafa;padding:10px 0 0 0;font:100 16px 'Source Sans Pro',Times New Roman,Times,Baskerville,serif;text-shadow:#000 1px 1px 1px;}
#headright a{color:#fafafa;}

/* ----------------------------------- search */
#search{padding:0;margin:0;float:right;width:95%;background:transparent;}
#searchform{margin:0;padding:0;overflow:hidden;}	
#s{background:transparent;color:#ccc;width:200px;font:1.1em trebuchet ms,arial,helvetica;padding:2px 8px;margin:15px 90px 0 0;border:1px solid #7B9BAA;}

/* ----------------------------------- front */
#front{display:inline;padding:0;margin:20px 0 0 0;float:left;background:transparent;width:35%;color:#fff;overflow:hidden;}
#front a{color:#fff;}#front a:hover{color:#ccc;}
#front h2{font-variant:small-caps;font-size:36px;line-height:30px;margin:0;padding:23px 0;}

/* ----------------------------------- navi */
#navi{background:transparent url(04.jpg) no-repeat top right;padding:0;margin:0;display:block;width:100%;height:299px;overflow:hidden;}
#nav{display:block;padding:0;margin:20px 0 0 0;z-index:5;position:relative;float:right;background:transparent;width:535px;}
#nav ul{width:535px;list-style-type:none;padding:0;margin:0;z-index:500;}
#nav li{display:inline;float:left;min-height:20px;position:relative;text-align:left;padding:5px 15px 5px 5px;margin:0;}
#nav li ul{width:180px;height:auto;top:100%;left:0;line-height:1.9em;}
#nav li ul li{text-align:left;width:180px;height:auto;display:block;border-bottom:1px solid #333;}
#nav li li ul{top:0;left:0;}
#nav li li:hover ul{left:180px;}
#nav ul ul,#nav ul li:hover ul ul,#nav ul ul li:hover ul ul,#nav ul ul ul li:hover ul ul,
#nav ul ul ul ul li:hover ul ul{position:absolute;display:none;}
#nav li:hover ul,#nav ul li:hover ul,#nav ul ul li:hover ul,#nav ul ul ul li:hover ul,#nav ul ul ul ul li:hover ul,#nav ul ul ul ul ul li:hover ul{display:block;width:180px;}
#nav #PhpWebcontent{display:none;}
#nav{color:#fff;}
#nav ul{background:transparent;}
#nav ul ul{background:transparent;}
#nav ul li{background:transparent;display:block;}
#nav a{color:#fff;display:block;}
#nav ul li:hover{display:block;background:transparent;cursor:pointer;}
#nav ul li ul li{background:transparent url(8b.png) repeat 0 0;display:block;}
#nav ul li ul li:hover{display:block;background:#416574;color:#fff;;width:180px;}
#nav ul li ul ul li{background:#416574;display:block;}
#nav ul li ul ul li:hover{background:#416574;display:block;}

#menu{clear:both;margin: 0;padding: 0;width:100%;float:left;display:block;}
#menu ul {clear:both;float: left;list-style: none;margin: 0;padding: 0;}
#menu li {float: left;list-style: none;margin: 0;padding: 0;}
#menu ul li {list-style: none;margin: 0 0 0 -1px;padding: 0;}
#menu li a, #menu li a:link {color: #fff;display: block;margin: 0;padding: 4px 12px;border-right: 0;text-decoration: none;text-shadow:#000 0px 1px 1px;}
#menu li a:hover{background: #fff;color: #c00;display: block;margin: 0;padding:4px 12px;text-decoration: none;}
#menu li li a,#menu li li a:visited {background: #fff;width: 170px;color: #000;float: none;margin: 0;padding: 7px 10px;text-decoration:none;}
#menu li li a:hover{background: #01245C;color: #fff;padding: 7px 10px;}
#menu li ul {z-index: 9999;position: absolute;left: -999em;height: auto;width: 190px;margin: 0;padding: 0;}
#menu li ul a { width: 160px;}
#menu li ul ul {margin:-33px 0 0 182px;}
#menu li:hover ul ul, #menu li:hover ul ul ul, #menu li.sfhover ul ul, #menu li.sfhover ul ul ul {left: -999em;}
#menu li:hover ul, #menu li li:hover ul, #menu li li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul, #menu li li li.sfhover ul {left: auto;}
#menu li:hover, #menu li.sfhover { position: static;}
#menu .current_page_item a,#menu .current-menu-item a {background: #c00;color: #fff !important;text-shadow:#000 0px 1px 1px;display: block;margin: 0;padding:4px 12px;text-decoration: none;}

/* ----------------------------------- front */
.posthome{margin:0;background:transparent;float:right;}
.posthomes h2 a{color:#fff;font-variant:small-caps;line-height:30px;margin:0;padding:10px 0;}

/* ----------------------------------- bars */
#bar,#barH{float:right;margin:12px 0;width:37%;display:inline;overflow:hidden;background:transparent;}

#home #bar{float:left;margin:12px 0;width:35%;display:inline;overflow:hidden;background:transparent url(new.gif) no-repeat 100% 0;}
#mainH{float:left;margin:12px 0;width:35%;display:inline;overflow:hidden;background:transparent;}
#home #bar ul{list-style-type:none;background:transparent;padding:5px 0 !important;margin:10px 0;}
#home #bar ul li a{list-style-type:none;background:transparent;padding:5px 0 !important;margin:5px 0;}
#home #bar ul li a:hover{color:#666;}
#home .post{margin:0 0 15px 0;padding:0;background:transparent;}
#home #main{float:right;margin:12px 0;width:55%;display:inline;overflow:hidden;background:transparent;}

#barS{float:right;margin:12px 0;width:32%;display:inline;overflow:hidden;background:transparent;}

.news{width:48px;height:50px;background:transparent;float:right;overflow:hidden;padding:5px 10px 0 0;}

#submit{background:transparent;color:#83C1DB;width:52%;font:1.1em trebuchet ms,arial;padding:3px 8px;margin:5px 0;border:1px solid #7B9BAA;clear:both;}

#mid{padding:4px 0;margin:10px auto;width:100%;clear:both;background:transparent;display:block;}
#midS{padding:4px 0;margin:0 auto;width:100%;min-height:800px;display:block;}

.white{padding:0;margin:0;background:#fff;display:block;}


#main{float:left;margin:12px 0;width:62%;display:inline;overflow:hidden;background:transparent;}
#main ul{list-style:none;margin:0;padding:0 0 20px 0;}
#main ul li{margin:0;padding: 5px 0;}
#main ul li a{color:#405A68;text-decoration: none;}
#main ul li a:hover{color:#ccc;text-decoration:underline;}

#made{margin:0;padding:0;width:100%;height:49px;display:block;background:transparent;}

#content,#contentH{padding:0;margin:0;}
#contentS{padding:0;margin:0;background:#fff;}

/* ----------------------------------- post */
.post{margin:0 0 15px 0;padding:0;background:transparent;}
.contentdate{background:#fff url(8d.png) no-repeat 0 0;float:right;width:80px;height:46px;margin:-28px 0 0 0;padding:0;}

.social{background:transparent;height:24px;width:99%;padding:13px 0;font-size:11px;color:#333;}
.social a{color:#333;text-decoration:none;margin:0 13px 0 0;}
.social a:hover{color:#ccc;text-decoration:underline;margin:0 13px 0 0;}

.post h1,#barS h2{display:block;outline:none;margin:0;padding:3px 0;font-size:26px;}
.post h3,#barS h3{display:block;outline:none;margin:0;padding:9px 0;font-size:26px;}
.post p:first-letter{float:left;color:#333;line-height:12px;padding:7px 1px 0 0;margin:0;font:25px georgia,times new roman,times,serif;}
.post p:first-line{font:17px times new roman,times,serif;text-transform:uppercase;line-height:28px;letter-spacing:-1px;}

/* ----------------------------------- entry */
.entry{overflow:hidden;margin:9px 0;padding:10px 0;clear:both;}
.entryH{overflow:hidden;margin:9px 0;padding:10px 0;clear:both;}
.entry p{margin:15px 0;text-align:justify;}
.entry p a{font-weight:400;}
.entry blockquote{margin:0 1.3em 0;}
.entry ul{margin:0 0 20px 0;list-style-type:none;}
.entry li a{color:#333;font-weight:bold;}
.entry ul li{padding-left:18px;margin-bottom:7px;list-style-type:none;}
.entry ol{margin:0 1em 0 3em;}
.entry ol li{margin:0 0 7px 0;}
.entry img,.entry a img{border:1px solid #ccc;}
.entry #featuredS img,.entry #featuredS a img,
.entryH img,.entryH a img{border:0;}
.entry a:hover img{border-color:#405A68;}
.entry table tr {padding:15px 0;}
.entry table tr.alt {background:#eee;}

.postMeta{text-transform:uppercase;font-size:11px;text-align:right;margin:0 2px 0 0;}
.postMeta2{font:16px gorgia;text-align:right;margin:2px 0;color:#405A68;}
.postMeta2 a{color:#405A68;}

.meta{margin:8px 0;padding:5px 0 0 30px;}
.meta ul{list-style:none;margin:0;padding:20px 0;}
.meta ul li{margin:0;padding:0;}
.meta ul li a{color:#333;text-decoration:none;font:26px georgia,times new roman;font-variant:small-caps;background:url(8f.jpg) repeat-x bottom left;display:block;width:99%;margin:0;padding:12px 0;}
.meta ul li a:hover{color:#ccc;text-decoration:underline;}
.meta h3{color:#405A68;font-size:17px;line-height:30px;margin:0;padding:10px 0;}

.dat{background:#fff url(cal.gif) no-repeat center left;float:right;width:60px;height:18px;text-align:right;margin:-41px 0 0 0;padding:0;color:#666;font:100 18px times new roman,serif;text-transform:uppercase;}

/* ----------------------------------- read more links */
.read a{background:transparent url(09a.png) no-repeat center right;display:block;height:28px;width:99%;margin:5px 0;padding:0;color:#fafafa;font:100 18px/22px 'Source Sans Pro',trebuchet ms,arial,helvetica;}
.reads a{background:transparent url(09a.png) no-repeat center right;display:block;height:28px;width:99%;margin:5px 0;padding:0;color:#333;font:100 18px/22px 'Source Sans Pro',trebuchet ms,arial,helvetica;}
.read a:hover,.reads a:hover{color:#83C1DB;}
.rlink{margin-right:40px;float:right;display:block;width:150px;}
#singles .read{background:url(09a.png) no-repeat right top;display:block;height:32px;width:99%;margin:5px 0;padding:0 20px 0 0;float:right;text-align:center;}

/* ----------------------------------- quotes */
blockquote{color:#000;padding:9px;margin:19px 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
blockquote p{padding:10px;text-indent:-18px;}
blockquote p:first-letter{float:left;color:#666;line-height:20px;padding:5px;margin:0;font:40px georgia,times new roman,times,serif;}

/* ----------------------------------- pagination */
#pagination,.pagination{color:#333;font:18px georgia;font-variant:small-caps;margin:10px auto;text-align:center;}
#pagination a,.pagination a{border:none;margin:3px 2px;}

.pageS{margin:0 auto;display:block;width:99%;height:25px;clear:both;}
.boxl{float:left;display:inline;width:45%;clear:both;}
.boxr{float:right;display:inline;width:45%;}

/* ----------------------------------- floating class */
.center,.aligncenter{display:block;text-align:center;margin:3px auto;padding:2px;}
.right,.alignright,.floatright{float:right;margin:3px 0 0 7px;}
.left,.alignleft,.floatleft{float:left;margin:3px 7px 0 0;}

.dl{clear:both;margin:3px 0;padding:2px 0;display:block;width:99%;height:78px;}
.dli{display:inline;float:left;width:62px;}
.dll{font:100 18px/22px Georgia,Times New Roman,Times,serif;display:inline;float:right;width:70%;color:#333;}
.dll a{color:#405A68;display:block;width:99%;}

/* ----------------------------------- i box */
#ibox_content{background:#fff;border-color:#ccc;color:#fff;}#ibox_wrapper{background:#fff;border-color:#ccc;}#ibox_footer_wrapper{left:0;right:0;top:0;padding:3px 10px;}#ibox_footer_wrapper,#ibox_footer_wrapper a{color:#8dd6e2;background:#fff;}#ibox_footer_wrapper a{color:#000;font-weight:bold;text-decoration:none;padding:0 3px;}#ibox_content{padding:10px;}#ibox_wrapper{padding:25px 0 0 0;}

/* ----------------------------------- slider */
#feature{background:transparent;padding:0;margin:0 auto;padding:0;width:55%;display:inline-block;overflow:hidden;float:right;border:1px solid #666;}
#featured{background:transparent;padding:0;margin:0 auto;width:542px;display:block;overflow:hidden;}

#myGallery{margin:4px;}#myGallery, #myGallerySet, #flickrGallery{width:100%;height:240px;z-index:5;border: 0;}#myGallery img.thumbnail, #myGallerySet img.thumbnail{display: none;}.jdGallery{overflow:hidden;position:relative;}.jdGallery img{border:0;margin:0;}
.jdGallery .slideElement{width:530px;height:100%;background:transparent no-repeat center center url(loading.gif);}.jdGallery .loadingElement{width:100%;height:100%;position:absolute;left:0;top:0;background:transparent no-repeat center center url(loading.gif);}.jdGallery .slideInfoZone{position: absolute;z-index:10;margin:0;left:0px;bottom:0;top:0;height:100%;width:40%;background:#fff;color:#333;text-indent:0;overflow:hidden;}
* html .jdGallery .slideInfoZone{bottom: -1px;}.jdGallery .slideInfoZone h2{padding: 0;font:24px trebuchet ms,arial;margin:12px 0;color:#090909;}.jdGallery .slideInfoZone p{padding:0;font-size:16px;line-height:23px;margin:12px 0;color: #333;}.jdGallery div.carouselContainer{display:none;}.jdGallery a.carouselBtn{display:none;}.jdGallery .carousel{display:none;}.jdExtCarousel{overflow: hidden;position: relative;}.jdGallery .carousel .carouselWrapper, .jdExtCarousel .carouselWrapper{position: absolute;width: 100%;height: 78px;top: 10px;left: 0;overflow: hidden;}.jdGallery .carousel .carouselInner, .jdExtCarousel .carouselInner{position: relative;}.jdGallery .carousel .carouselInner .thumbnail, .jdExtCarousel .carouselInner .thumbnail{display:none;}.jdGallery .wall .thumbnail, .jdExtCarousel .wall .thumbnail{display:none;}.jdGallery .carousel .label, .jdExtCarousel .label{font-size: 13px;position: absolute;bottom: 5px;left: 10px;padding: 0;margin: 0;}.jdGallery .carousel .wallButton, .jdExtCarousel .wallButton{display:none;}.jdGallery .carousel .label .number, .jdExtCarousel .label .number{color: #333;}.jdGallery a{font-size: 100%;text-decoration: none;color: inherit;}.jdGallery a.right, .jdGallery a.left{position: absolute;height: 99%;width: 25%;cursor: pointer;z-index:10;}
* html .jdGallery a.right, * html .jdGallery a.left{}.jdGallery a.right:hover, .jdGallery a.left:hover{display:none;}.jdGallery a.left{display:none;}
* html .jdGallery a.left {display:none;}.jdGallery a.right{display:none;}
* html .jdGallery a.right {display:none;}.jdGallery a.open{left: 0;top: 0;width: 100%;height: 100%;}.withArrows a.open{position: absolute;top: 0;left: 25%;height: 99%;width: 50%;cursor: pointer;z-index: 10;background: none;}.withArrows a.open:hover { background: url(9d.png) no-repeat center center; }
* html .withArrows a.open:hover{background: url(9d.png) no-repeat center center;}.jdGallery a.gallerySelectorBtn{z-index: 15;position: absolute;top: 0;left: 30px;height: 20px;/*width: 100px; background: url(loader.gif) no-repeat;*/text-align:center;padding:0 10px;font-size:13px;background:#D7DCDF;color:#000;cursor:pointer;}.jdGallery .gallerySelector{z-index: 20;width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: #000;}.jdGallery .gallerySelector h2{margin: 0;padding: 10px 20px 5px 20px;font-size: 20px;line-height: 25px;color: #fff;}.jdGallery .gallerySelector .gallerySelectorWrapper{overflow: hidden;}.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton{margin-left: 10px;margin-top: 10px;border: 1px solid #888;padding: 5px;height: 40px;color:#fff;cursor: pointer;float: left;}.jdGallery .gallerySelector .gallerySelectorInner div.hover{background: #ccc;}.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton div.preview{background: #fff;background-position: center center;float: left;border: none;width: 30px;height: 30px;margin-right: 5px;}.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton h3{margin: 0;padding: 0;font-size: 12px;font-weight: normal100;}.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton p.info{margin: 0;padding: 0;font-size: 12px;font-weight: 100;color: #aaa;}

.less{font-style: 100;font-family: arial,tahoma;}
.line{font: 11px arial;font-style: 100;text-align: center;clear: both;margin: 0 auto;}
#video{text-align:center;display:block;margin:0 auto;padding:0;}

.ul-less{list-style:none;margin:5px 0;padding:0 0 0 30px}
.ul-less li{margin:5px;padding:0 0 0 20px;}
.ul-less li a, .ul-less li a:visited{text-decoration:none;}
.ul-less li a:hover{text-decoration:none;}

.frame{margin:2px 0;padding:0 0 0 30px;border: medium double rgb(0,0,0);}
.list1{margin:5px 0;padding:0 0 0 20px;}
.list2{margin:5px 0;padding:0 0 0 20px;}

/* ----------------------------------- map */
#mainM{margin:12px 0;padding:0 10px;width:95%;display:block;overflow:auto;background:transparent;}
#map{width:100%;margin:0 auto;display:block;height:410px;}

#imap{display:block;width:360px;height:340px;background:url(maps.jpg) no-repeat 0 0;position:relative;margin:10px 0;}

#imap a#support{display:block;width:560px;height:0;padding-top:340px;overflow:hidden;position:absolute;left:0;top:0;background:transparent url(maps.jpg) no-repeat 560px 338px;cursor:pointer;}
* html #imap a#support{height:338px;he\ight:0;}

#imap a#support:hover{background-position:0 0;z-index:10;}
#imap .m a{color:#fff;font:14px georgia;}

#imap dd{position:absolute;padding:0;margin:0;}

#imap #country1{left:175px;top:70px;z-index:20;}
#imap #country2{left:270px;top:50px;z-index:20;}
#imap #country3{left:240px;top:240px;z-index:20;}

#imap a#link_country1,#imap a#link_country2,#imap a#link_country3{display:block;width:58px;height:58px;text-decoration:none;z-index:20;}

#imap a em{display:none;}
#imap a span,#imap a:visited span{display:none;}
#imap a#link_country1:hover,#imap a#link_country2:hover,#imap a#link_country3:hover{border:1px solid #fff;}

#imap a:hover span{position:absolute;display:block;color:#333;width:110px;height:300px;line-height:1.5em;font-size:0.8em;}

#imap a#link_country1:hover span{left:195px;top:-69px;}
#imap a#link_country1:hover em{position:absolute;display:block;left:60px;top:30px;width:200px;height:1px; overflow:hidden;font-size:1px;background:#fff;}

#imap a#link_country2:hover span{left:100px;top:-50px;background:#fff;}
#imap a#link_country2:hover em{position:absolute;display:block;left:60px;top:35px;width:140px;height:1px; overflow:hidden;font-size:1px;background:#fff;}

#imap a#link_country3:hover span{left:130px;top:-240px;}
#imap a#link_country3:hover em{position:absolute;display:block;left:60px;top:45px;width:300px;height:1px; overflow:hidden;font-size:1px;background:#fff;}

#imap a:hover span img{float:left;margin-right:1em;margin-bottom:0.5em;border:1px solid #fff;width:100px;height:100px;}

#imap a span:first-line{font-weight:bold;font-style:italic;font:1.2em georgia;}
#info h3{margin:0 0 0 75px;font-size:1.2em;font-weight:100;font-family:century gothic,"verdana",serif; letter-spacing:0.1em;padding-bottom:5px;border-bottom:1px solid #aaa;width:650px;}
#info .sup{width:300px;margin:0 0 0 75px;}

/* ----------------------------------- subfooter */
#s_footer{clear:both;padding:30px 0 0 0;margin:0 auto;width:980px;display:block;overflow:hidden;background:transparent;}
#s_footer h3{padding:0 0 9px 0;margin:0;}
.sfoo{padding:0;margin:0;width:55%;display:inline-block;float:right;overflow:hidden;background:transparent;}

/* ----------------------------------- rss */
.col a{width:175px;height:79px;float:left;margin-right:5px;padding:0;overflow:hidden;display:inline-block;background:transparent url(06.jpg) no-repeat -70px 0;}
.col1 a{width:175px;height:79px;float:left;margin:0;padding:0;overflow:hidden;display:inline-block;background:transparent url(07.jpg) no-repeat -70px 0;}
.col2 a{width:175px;height:79px;float:right;margin:0;padding:0;overflow:hidden;display:inline;background:transparent url(08.jpg) no-repeat -70px 0;}
#s_footer #barH{float:left;margin:0;width:240px;display:inline;overflow:hidden;background:transparent;}

/* ----------------------------------- footer nav */
#cats{clear:both;display:block;border:0;padding:14px 0;margin:5px 0;width:100%;height:94px;overflow:hidden;background:#fff;}
#cats h4{color:#83C1DB;}
#cats .cats ul{text-decoration:none;list-style:none;}
#cats .cats{float:left;display:block;width:22%;margin:0;}
#cats li a{color:#333;font-weight:400;text-decoration:none;list-style:none;font-size:90%;}
#cats li a:hover{text-decoration:none;color:#ccc;}

#login label {float:left;padding:0;margin:1px 0;clear:both;display:inline-block;}
#login input#pwd,#login input#log{border: 1px #ccc solid;background: #fafafa;margin:0;color:#333;float:right;}
#login input#pwd:focus.field,#login input#log:focus.field {background: #ccc;border-color:#333;}

/* ----------------------------------- footer */
#footer{padding:20px 0;margin:0 auto;width:100%;display:block;clear:both;background:#fff;}
.inn{margin:0 auto;padding:0;width:980px;text-align:left;}

#footer .menu{clear:both;padding:0;margin:0 auto;width:100%;height:72px;display:block;background:#1C3B4B;}
.menu h2{margin:0;padding:15px 0 0 0;color:#fafafa;text-transform:uppercase;font-size:35px;line-height:42px;float:left;}
.menu h2 span{color:#83C1DB;text-transform:uppercase;font-size:42px;}

#pagenav{background:transparent;padding:0;margin:18px 0;display:block;float:left;}
ul.nav{list-style:none;}
.nav li{float:left;display:block;padding:4px 0;}
.nav li a{font:1.2em trebuchet ms,arial,helvetica;color:#fff;display:block;padding:4px 10px;}
.nav li a:hover{text-decoration:none;color:#ccc;background:transparent;}
* html .nav li a:hover{background:transparent;}

.credit{clear:both;padding:0;color:#ccc;font:18px trebuchet ms,arial,helvetica;text-align:center;margin:15px auto;}
.credit a,.milo a{color:#ccc;}
.milo{clear:both;padding:7px 0;color:#ccc;font-size:80%;text-align:center;}
.pace{clear:both;padding:0;margin:10px auto;display:block;height:20px;width:99%;}
.breadcrumb{padding:0 0 15px 0;margin:0 auto;display:block;height:20px;width:99%;font-style:italic;color:#ccc;font-size:90%;}.breadcrumb a{color:#83C1DB;}

@media only screen and (max-width: 1024px),(min-device-width: 1024px) and (max-device-width: 1024px){
.wrapper,#s_footer {width:98%;}
#front,#nav,#home #bar,#home #main,#mainH,#feature,#s_footer #barH,.sfoo,.cats,#headleft {display:block;clear:both;float:none;margin:5px 0;padding:5px 0;width:100%;}
#headright,#front {display:none}
}