/* ----------------------------------- reset.css */ 
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
*{margin:0;padding:0;}
img:hover,#head h1 a:hover{-webkit-transform: rotateY(360deg); -moz-transform: rotateY(360deg); -o-transform: rotateY(360deg); -ms-transform: rotateY(360deg); transform: rotateY(360deg); -webkit-transition: -webkit-transform 1s; -moz-transition: -moz-transform 1s; -o-transition: -o-transform 1s; -ms-transition: -ms-transform 1s; transition: transform 1s;}
body{overflow-y: scroll;
overflow-x: hidden;
background:#fff url(bg.jpeg) 50% 0 repeat-x fixed;color:#333;font:14px/20px Arial,Tahoma,Helvetica,Sans-Serif;margin:0;padding:0;}
#wrap{background:transparent;color:#333;font:14px/20px Arial,Tahoma,Helvetica,Sans-Serif;margin:0 auto;padding:0;width:990px;position:relative;overflow:hidden;}
#rap{background:transparent url(foo.jpeg) 100% 100% no-repeat;margin:0;padding:0;width:100%;}

a,a:visited{color:#EF3F18;text-decoration:none;}
a:hover{text-decoration:none;color:#333;}
.entry a img{border:1px solid #ccc;padding:2px;margin:0;}

/* ----------------------------------- wrapper */ 
#mow{clear:both;width:100%;margin:10px auto 0;padding:5px 0;display:block;overflow:hidden;}
#mow1,#mow2,#mow3,#mow4,#pro,#prom{clear:both;width:100%;margin:0 auto;padding:5px 10px 5px 10px;display:block;overflow:hidden;background:#fff url(h1.jpeg) 0 0 repeat-x;}

#contentmiddle{float:left;width:27%;margin:14px 0;padding:18px 0 0 10px;overflow:hidden;background:transparent;}
#contentmiddle2{float:left;width:49%;margin:14px 0;padding:18px 0 0 10px;border:0;background:transparent;}
#contentmiddle3{float:left;width:69%;margin:14px 0;padding:18px 0 0 10px;border:0;background:transparent;}
#content{clear:both;width:100%;margin:160px auto 0;padding:10px 0;background:transparent;}

/* ----------------------------------- header */ 
#fhead{width:100%;height:199px;background:transparent url(h.jpg) 49.5% 0 no-repeat;margin:0;padding:0;z-index:999 !important;position:fixed;top:0;left:0;}
#header{clear:both;background:transparent url(log1.png) 1% 25px no-repeat;width:990px;height:162px;margin:0 auto;padding:0;z-index:999 !important;position:relative;}
#head{margin:0;padding:0;clear:both;display:inline-block;float:left;width:60%;height:124px;background:transparent ;}
#head h1,#head h1 a{display:block;height:124px;width:100%;text-indent:-90000px;margin:0;padding:0;outline:none;}
.des{display:block;height:1px;width:100px;text-indent:-90000px;margin:0;padding:0;outline:none;}

/* ----------------------------------- header nav */  
#tag{float:right;width:180px;height:90px;display:inline-block;padding:0;margin:4px 0 0 0;background:transparent url(buy.png) 0% 0 no-repeat;}
#tag a{display:block;height:90px;width:100%;text-indent:-90000px;margin:0;padding:0;outline:none;}

#playr{float:right;width:212px;height:117px;display:inline-block;padding:0;margin:0 0 0 10px;background:transparent url(play.png) 0% 0 no-repeat;}
#playr a{display:block;height:117px;width:100%;text-indent:-90000px;margin:0;padding:0;outline:none;}

#top{clear:both;background:#EF3F18;display:block;margin:26px auto 0;padding:0;color:#fff;font:12px century gothic,helvetica,arial,tahoma;font-weight:700;text-transform:uppercase;text-shadow:#000 0 1px 1px;height:25px;border-bottom:1px solid #fff;z-index:999 !important;}

#topleft{width:50%;margin:0;padding:0;float:left;display:inline-block;}
#topleft ul{margin:0;padding:5px 0 0 5px;background:transparent;list-style:none;}
#topleft li{float:left;margin:0;padding:0;}
#topleft a{padding:0 15px 0 0;color:#fff;display:block;}
#topleft a:hover{color:#333;display:block;text-decoration: none;}
#topleft li li {float: left;margin: 0 0 0 5px;padding: 0;width: 130px;}
#topleft li li a,#topleft li li a:link,#topleft li li a:visited {background:#fff;width: 150px;float: none;margin: 0;padding: 4px 10px 5px 10px;color:#EF3F18;}
#topleft li li a:hover,#topleft li li a:active {background:#ccc;width: 150px;float: none;margin: 0;padding:4px 10px 5px 10px;color:#000;}
#topleft li ul {position: absolute;width: 10em;left: -999em;z-index:999;}
#topleft li:hover ul {left: auto;display: block;}
#topleft li:hover ul, #menu li.sfhover ul {left: auto;}
#topleft li.current_page_item a{background:transparent;color:#ccc;}
#topleft li.current_page_item a:hover{color:#333;text-decoration:none;}

#topright{width:250px;height:24px;overflow:hidden;margin:0;padding:0;float:right;display:inline-block;background:transparent url(005s.png) 98% -1px no-repeat}
#topright p{margin:0;padding:4px 0 2px 0;float:left;display:inline-block;}
#topright .aright{float:right;display:inline-block;margin:0;padding:0;overflow:hidden;}

/* ----------------------------------- search */ 
#search{background:transparent;width:130px;height:30px;margin:0;padding:0;}
#searchform{margin:0;padding:3px;position:absolute;top:148px;right:0;}
#searchform #s{width:130px;padding:2px;background:transparent;border:1px solid #fff;font:12px century gothic,helvetica,arial,tahoma;font-weight:700;text-shadow:#000 0 1px 1px;text-transform:uppercase;margin:0;color:#fff;float:left;}

/* ---------------------------------- navi */
#nav{clear:both;background:#EF3F18;display:block;margin:26px 0 0 0;padding:0;font: 12px century gothic,helvetica,arial,tahoma;font-weight:700;text-shadow:#000 0 1px 1px;text-transform:uppercase;height:25px;border-bottom:1px solid #fff;}

/* ----------------------------------- catnavi */
#catnavi{background:#EF3F18;display:block;margin:0;padding:0;width:100%;z-index:999 !important;}
#menus ,#menus ul {margin:0;padding: 0;list-style: none;}
#menus a {color: #fff;display: block;padding: 4px 4px 3px 4px;}
#menus a:hover {color:#ccc;display:block;text-decoration: none;background:#EF3F18;}
#menus li {float: left;margin: 0;padding: 0;}
#menus li li {float: left;margin: 0 0 0 5px;padding: 0;width: 130px;}
#menus li li a, #menus li li a:link, #menus li li a:visited {background:#fff;width: 150px;float: none;margin: 0;padding: 4px 5px 3px 5px;color:#EF3F18;}
#menus li li a:hover, #menus li li a:active {background:#ccc;width: 150px;float: none;margin: 0;padding: 4px 5px 3px 5px;}
#menus li ul {position: absolute;width: 10em;left: -999em;z-index:999;}
#menus li:hover ul {left: auto;display: block;}
#menus li:hover ul, #menus li.sfhover ul {left: auto;}
#menus li.current-cat a{background:#EF3F18;color:#ccc;}
#menus li.current-cat a:hover{background:#fff;color:#333;}

/* ----------------------------------- slider */
#slider{background:transparent;padding:0;margin:0;}
.stepcarousel{position:relative;overflow:scroll;width:920px;height:180px;margin:0 auto;background:transparent;}
.stepcarousel .belt{position:absolute;left:0;top:0;z-index:997;}
.stepcarousel .panel{float:left;overflow:hidden;margin:0 20px;width:180px;background:transparent;height:175px;border:0;}
.stepcarousel .lead{overflow:hidden;margin:0;width:180px;background:transparent;height:100px;border:0;}
.stepcarousel .panel .entry{text-align:left;overflow:hidden;margin:5px 0 0 0;padding:0;font-size:80%;text-shadow:#fff 1px 1px 1px;line-height:100%;}
.stepcarousel h4 a{font:15px century gothic,helvetica,arial,tahoma;font-weight:700;text-transform:uppercase;height:18px;overflow:hidden;display:block;margin:1px 0 0 0;padding:0;}
.stepcarousel .panel img{background:transparent;margin:0;padding:0;}

.stepcarousel .belts{position:absolute;left:200px;top:-10px;width:180px;height:180px;margin:0;padding:5px 15px;z-index:998;background:transparent url(bully.jpg) 0 0 no-repeat;}

.stepcarousel .belts ul,.stepcarousel .belts p{list-style:none;margin:0;padding:0;font-size:80%;}

.stepcarousel .belts li{list-style:none;margin:0;padding:0;}

.stepcarousel .belts ul li{margin:0;padding:5px 0 0 0;}

.stepcarousel .belts ul li a{text-decoration:none;display:block;height:18px;overflow:hidden;}



/* ----------------------------------- barslider */ 



#slider1{background:transparent url(009.jpg) 100% 100% no-repeat;padding:0;margin:0;width:100%;height:400px;position:relative;z-index:2;}

#slider2{background:transparent url(0011.jpg) 0% 100% no-repeat;padding:0;margin:0;width:100%;height:400px;position:relative;z-index:2;}



.sliderwrapper{margin:2px 0;padding:0;width:100%;overflow:hidden;background:transparent;position:relative;}

.sliderwrapper .opacitylayer{width:100%;height:100%;}

.sliderwrapper .contentdiv{visibility:hidden;position:absolute;left:0;top:0;padding:0;background:transparent;width:100%;height:100%;}

.sliderwrapper .now,.sliderwrapper .vnow{margin:0;padding:0;width:332px;height:275px;overflow:hidden;background:transparent url(s1.jpg) 0 100% no-repeat;}

.sliderwrapper .now a img,.sliderwrapper .vnow a img{margin:0 0 0 6px;padding:0;width:auto;min-width:100%;height:264px;}

.sliderwrapper .vnow .vembed{margin:0 0 0 7px;padding:0;width:292px;height:264px;overflow:hidden;z-index:2;}

.sliderwrapper .vnow .vembed object,.sliderwrapper .vnow .vembed embed{margin:0;padding:0;width:292px;height:264px;overflow:hidden;z-index:2 !important;position:relative;}

.sliderwrapper .pagination{width:80%;float:right;padding:5px 0;font:12px century gothic,arial;font-weight:700;text-align:left;background:transparent;position:absolute;top:345px;right:5px;z-index:999;border:0;}

.sliderwrapper .vpagination{width:80%;float:right;padding:5px 0;font:12px century gothic,arial;font-weight:700;text-align:left;background:transparent;position:absolute;top:340px;right:5px;z-index:999;border:0;}

.sliderwrapper .pagination a,.sliderwrapper .vpagination a{padding:0 5px;text-decoration:none;color:#333;border:1px solid #F2F2F2;background:transparent;}

.sliderwrapper .pagination a:hover,.sliderwrapper .pagination a.selected,.sliderwrapper .vpagination a:hover,.sliderwrapper .vpagination a.selected{color:#EF3F18;border:1px solid #EF3F18;}

.sliderwrapper h4 a{margin:0;padding:0;display:block;height:19px;width:99%;overflow:hidden;}

.sliderwrapper .entry{margin:0;padding:0;display:block;width:99%;overflow:hidden;text-shadow:#fff 1px 1px 1px;}



/* ----------------------------------- buttons */ 

.welcome{width:100%;display:block;padding:0;margin:0;background:transparent;}

.well{margin:0 10px 5px 0;padding:0;width:80px;height:80px;overflow:hidden;background:transparent;float:left;display:inline-block;}

.well a img{border:0;}



.wjoin{clear:both;display:block;height:125px;width:100%;margin:0;padding:0;outline:none;background:transparent url(0010.jpg) 50% 0 no-repeat;}

.wjoin a{display:block;height:125px;width:100%;text-indent:-90000px;margin:0;padding:0;outline:none;}



.vmore{display:block;height:30px;width:100%;margin:0;padding:0;outline:none;background:transparent;position:absolute;bottom:1px;right:0;z-index:999;}

.vmore a{display:block;height:30px;width:100%;text-indent:-90000px;margin:0;padding:0;outline:none;z-index:999;}



.release{clear:both;display:block;height:33px;width:100%;margin:0;padding:0;outline:none;background:transparent url(b2.jpg) 50% 0 no-repeat;}

.release a{display:block;height:33px;width:100%;text-indent:-90000px;margin:0;padding:0;outline:none;}



.newsy{clear:both;display:block;height:33px;width:100%;margin:0;padding:0;outline:none;background:transparent url(b3.jpg) 50% 0 no-repeat;}

.newsy a{display:block;height:33px;width:100%;text-indent:-90000px;margin:0;padding:0;outline:none;}



.artists{clear:both;display:block;height:33px;width:100%;margin:0;padding:0;outline:none;background:transparent url(b4.jpg) 50% 0 no-repeat;}

.artists a{display:block;height:33px;width:100%;text-indent:-90000px;margin:0;padding:0;outline:none;}



.allm{clear:both;display:block;height:33px;width:100%;margin:0;padding:0;outline:none;background:transparent url(b5.jpg) 50% 0 no-repeat;}

.allm a{display:block;height:33px;width:100%;text-indent:-90000px;margin:0;padding:0;outline:none;}



.allg{clear:both;display:block;height:33px;width:100%;margin:0;padding:0;outline:none;background:transparent url(b6.jpg) 50% 0 no-repeat;}

.allg a{display:block;height:33px;width:100%;text-indent:-90000px;margin:0;padding:0;outline:none;}





/* ----------------------------------- drop box */ 



.buynow{margin:0;padding:0;width:259px;height:158px;overflow:hidden;background:transparent url(s3.jpg) 0 0% no-repeat;}

.buynow a img{margin:0 0 0 6px;padding:0;width:154px;height:150px;}



.visits{margin:0;padding:0;width:261px;height:121px;overflow:hidden;background:transparent url(s2.jpg) 0 0% no-repeat;}

.visits a img{margin:0 0 0 6px;padding:0;width:203px;height:111px;}



.guit{clear:both;display:block;height:32px;width:100%;margin:0;padding:0;outline:none;background:transparent url(0012.jpg) 0% 0 no-repeat;}

.fix{clear:both;display:block;height:12px;width:100%;margin:0;padding:0;outline:none;background:transparent;}



/* ----------------------------------- front groups */ 

.fmem{margin:0;padding:0;overflow:hidden;background:transparent;display:block;}

x.fmem ul,.category_images{display:block;margin:0;padding:0;background:transparent;list-style:none;}

x.fmem ul li,.item_image,.category_images ul li{float:left;display:inline-block;width:80px;height:99px;overflow:hidden;margin:0 1% 0 0;padding:0;background:transparent url(s4.jpeg) 0 84% no-repeat;}

.colm4 .item_image strong{display:none;}

x.fmem ul li img{display:block;margin:0 0 0 5px;padding:0;width:80px;height:80px;}

x.fmem ul li a{display:block;margin:0;padding:0;}

x.fmem ul li a span{text-align:center;text-transform:uppercase;font:12px century gothic,arial;font-weight:700;padding:6px 0 0 5px;}

x.fmem ul li a:hover{color:#333;}





/* ----------------------------------- bars */ 

#sidebar{float:right;background:transparent;width:20%;margin:14px 0;padding:10px 0;overflow:hidden;}

#l_sidebar{float:left;background:transparent;width:31%;margin:14px 2%;padding:18px 0;overflow:hidden;}

#left_sidebar{float:left;background:transparent;width:31%;margin:14px 0;margin-right:1.5%;padding:18px 0;overflow:hidden;}

#middle{float:right;background:transparent;width:302px;margin:14px 0;padding:18px 0;overflow:hidden;}

#bar{float:right;background:transparent;width:25%;margin:14px 10px 0 0;padding:18px 0;overflow:hidden;}

#sbar{float:left;background:transparent;width:16%;margin:14px 0;margin-left:3%;padding:18px 0;overflow:hidden;}





/* ----------------------------------- bar lists */ 

#l_sidebar ul,#left_sidebar ul,#middle ul,#bar ul,#sbar ul{list-style:none;margin:0;padding:0 0 6px 0;}

#l_sidebar li,#left_sidebar li,#r_sidebar li,#middle li,#bar li,#sbar li,

#footer ul li a{list-style:none;margin:0;padding:0;color:#EF3F18;}

#l_sidebar ul li,#left_sidebar ul li,#middle ul li,#bar ul li,#sbar ul li,#footer ul li{margin:0;padding:3px 0;}

#l_sidebar ul li a,#left_sidebar ul li a,#middle ul li a,#bar ul li a,#sbar ul li a{color:#EF3F18;text-decoration:none;}

#footer ul li a:hover{color:#333;text-decoration:none;}



#l_sidebar h3,#left_sidebar h3,#middle h3,#bar ul,#sbar h3,#contentmiddle h3{line-height:16px;}

.sl{margin:10px auto;padding:0;width:100%;height:3px;clear:both;display:block;background:#ccc;}

.orlando,.florida,.hotel,.travel,.life,.pop{margin:10px auto;padding:0;letter-spacing:2px;width:100%;height:18px;clear:both;display:block;background:#fff;font:normal 13px impact,helvetica,arial;text-transform:uppercase;color:#ccc;}

.orlando a,.florida a,.hotel a,.travel a,.life a,.pop a{color:#ccc;}



/* ----------------------------------- front img */ 

.lbari{width:100px;height:30px;display:inline-block;margin:0;margin-right:9px;padding:2px;float:left;overflow:hidden;}

.lbari a img{width:100px;height:30px;display:block;margin:0;padding:0;}

#lentry{margin:1px 0;padding:3px 0;clear:both;}

.ff{margin:1px 0;padding:3px 0;clear:both;}

.ff a img{margin:1px 5px 0 0;padding:3px;background:#ccc;}

.ff a img:hover{background:#666;}



#left_sidebar h4 a{font:12px arial,tahoma,arial,verdana,sans-serif;margin:0;font-variant:small-caps;padding:1px 0;}

#sbar a img,#contentmiddle a img{max-width:90%;display:block;margin:5px auto;padding:2px;text-align:center;}

#l_sidebars a img,.col3 a img{max-width:80%;display:block;margin:0 auto;text-align:center;}

#footer a img,#bars a img{border:1px solid #ccc;max-width:35%;float:left;margin:0 5px;padding:2px;}

#middles .entry a img{border:1px solid #ccc;max-width:35%;float:right;margin:0 5px;padding:2px;}



#l_sidebar ul li a:hover,#left_sidebar ul li a:hover,#r_sidebar ul li a:hover,#middle ul li a:hover,#sbar ul li a:hover,#bar ul li a:hover,#s_footer ul li a:hover,.social ul li a:hover{color:#333;text-decoration:none;background:#ccc;}

#l_sidebar li a,#r_sidebar li a,#middle li a,#bar li a,#sbar li a,#s_footer li a,.social li a{}

#l_sidebar p,#left_sidebar p,#r_sidebar p,#middle p,#bar p{padding:2px 0 16px 0;margin:0;color:#333;}



#content p{padding:10px 0;margin:0;}



/* ----------------------------------- h tags */

h2{color:#EF3F18;padding:10px 0;margin:0;border:0;font:24px century gothic,helvetica,arial,tahoma;font-weight:700;text-shadow:#000 0 1px 1px;text-transform:uppercase;}

h2 span,h3 span{color:#EF3F18;}

h3{color:#EF3F18;font:18px century gothic,helvetica,arial,tahoma;font-weight:700;text-shadow:#000 0 1px 1px;text-transform:uppercase;margin:0;padding:0;}

#content h4{color:#EF3F18;font:18px century gothic,helvetica,arial,tahoma;text-shadow:#000 0 1px 1px;font-weight:700;text-transform:uppercase;margin:0px 0;padding:0px 0;}

#mow h3,#mow1 h3,#mow2 h3,#mow3 h3,#mow4 h3,#footer h3{color:#fff;margin:0;padding:0 0 20px 0;font:12px century gothic,helvetica,arial,tahoma;text-shadow:#000 0 1px 1px;font-weight:700;text-transform:uppercase;}



#pro h3,#pro h3 a,#prom h3,#prom h3 a{color:#fff;margin:0;padding:0px 0 20px 0;font:12px century gothic,helvetica,arial,tahoma;text-shadow:#000 0 1px 1px;font-weight:700;text-transform:uppercase;}

#footer h3 a{color:#fff;}



#left .entry{margin:1px 0;padding:10px 0;clear:both;}

.entry{margin:1px 0;padding:10px 0;clear:both;}

#contentmiddle .entry{border-bottom:1px dotted #ccc;}





/* ----------------------------------- lists */

#content p ol,#content p ul{margin:0;padding:0 0 0 10px;list-style:none;}

#mow3 .colm5 ul{margin:0;padding:0;list-style:none;}

blockquote{margin:0 0 0 25px;padding:0 25px 0 10px;font-style:italic;color:#666;border-left:6px solid #EF3F18;}

#content blockquote p{margin:0 0 20px 0;padding: 0;}

#contentmiddle ul li,#contentmiddle2 ul li,#contentmiddle3 ul li,#mow3 .colm5 ul li{margin:0;padding:5px 0;list-style:none;}

#contentmiddle ul li a,#contentmiddle2 ul li a,#contentmiddle3 ul li a{color:#EF3F18;text-decoration:none;list-style:none;margin-right:10px;}



#contentmiddle ul li a:hover,#contentmiddle2 ul li a:hover,#contentmiddle3 ul li a:hover{color:#333;text-decoration:none;}

#content img.wp-smiley{float:none;border:none;padding:0;margin:0;}



#content img.wp-wink{float:none;border:none;padding:0;margin: 0;}



.drop{float:left;font:3.5em century gothic,arial;line-height:100%;margin:3px 8px 0 0;width:40px;text-align:center;color:#EF3F18;}



/* ----------------------------------- posts */

.date{font-size:11px;text-align:right;margin:-1px 0 0 0;letter-spacing:-1px;float:right;text-shadow:#fff 0 1px 1px;}

.date span.date{padding:0 2px 0 4px;}

.bigdate{font:25px arial black,helvetica;color:#333;text-decoration:none!important;}

.meta{display:block;background:transparent;font-size:80%;line-height:90%;margin:0;padding:9px 4px;}

#contentmiddle2 .meta,#contentmiddle3 .meta{border-top:1px dotted #ccc;}



.postspace{background:transparent;width:99%;height:32px;margin:0;padding:0;clear:both;display:block;}



#postmeta{background:transparent;width:99%;margin:0;padding:0;display:block;}



.rel{float:left;width:48%;margin:0;padding-right:20px;}

.social{float:right;width:44%;margin:0;padding:0;}





/* ----------------------------------- footers */

#footer{clear:both;background:transparent url(h1.jpg) 0 0 repeat-x;width:100%;margin:0;padding:5px 0;color:#333;overflow:hidden;}

.finner{background:transparent;height:480px;margin:0 auto;padding:0 10px;}



/* ----------------------------------- footer navi */

.col1{width:20%;float:left;margin-right:15px;margin-left:15px;background:transparent url(bt2.gif) top right no-repeat;}

.col2{width:15%;float:left;margin-left:15px;background:transparent url(bt3.gif) top right no-repeat;}

.col3{width:19%;float:right;margin-left:15px;background:transparent url(bt4.gif) top right no-repeat;}

.col4{width:22%;margin-right:3%;float:left;margin-top:10px;padding:35px 0;}

.col5{width:27%;float:left;margin-top:10px;padding:35px 0;}

.col6{width:18%;margin-left:3%;float:left;margin-top:10px;padding:35px 0;}

.col7{width:22%;float:right;margin-top:10px;padding:35px 0;}



.colm4{width:32%;margin-right:3%;float:left;margin-top:0px;padding:0;}

.colm5{width:32%;float:left;margin-top:0px;padding:0;}

.colm6{width:32%;margin:0;float:right;margin-top:0;padding:0;}



/* ----------------------------------- credits */ 

.credits{clear:both;width:100%;height:65px;display:block;margin:20px 0 0 0;padding:0;background:transparent;color:#666;}

.creditsl{display:inline-block;margin:0;padding:0;float:left;width:20%;}	

.creditsr{display:inline-block;margin:0;padding:0;float:right;width:20%;height:65px;background:transparent url(05.png) top right no-repeat;}

.creditsr p{margin:0;padding-right:60px;text-align:right;}	



#dateToday a,.credits a{color:#666;}	



#dateToday a:hover,.credits a:hover{color:#EF3F18;}







/* ----------------------------------- comments */



#comments{clear:both;width:100%;padding:20px 0;margin:4px 0;border-top:1px solid #ccc;}



#comments h3,h3#respond{color:#555;margin:7px 0;}







ol.commentslist{margin:5px 0;list-style-type:upper-roman;}



ol.commentslist li{margin:5px 0;list-style-type:upper-roman;}



.commentslist li{background:#fff;border:1px solid #ccc;margin:7px 0;padding:7px 0;}



.commentslist li a{font-family:georgia;}



.commentslist li.alt{background:#fafafa;}



.commentslist li:hover{border-color:#888;}



.commentslist .comment_text{margin:0;line-height:1.4em;overflow:hidden;}



.comment_text p,.comment_text ul,.comment_text ol,.comment_text blockquote{margin:1em 0;padding:0 0 0 10px;float:left;width:80%;}



.comment_text ul,.comment_text ol,.comment_text blockquote{margin:0 1em;}







.comment-date{width:60px;float:right;padding:0 0 0 20px;margin:0;height:70px;display:inline-block;}



p.author_meta{font-weight:700;margin:0 0 0 7px;padding:0 20px;width:80%;}



p.post_meta{font-size:11px;text-align:right;margin:0 7px 0 0;}



.count{float:right;display:block;width:53px;height:53px;font:53px georgia;color:#333;line-height:53px;}







.commentslist li.author{background:transparent;color:#ccc;}



.commentslist li.author a{color:#ddd;}



.commentslist li.author a:hover{color:#333;}



#comments_closed{background:#fafafa;color:#333;padding:7px 0;margin:12px 0;line-height:1.5em;}



p.nocomments{margin:0 12px 0 7px;}



p.nocomments a{color:#ddd;font-family:georgia;text-decoration:underline;}



p.nocomments a:hover{color:#ccc;}



ol.pingslist{margin:1.5em 2em;font-size:12px;}



.pingslist li{color:#7F7F7F;margin:0 0 7px 0;}



.pingslist li a{font-family:georgia;}



#commentform p{margin:1em 0;}



#commentform p a{font-family:georgia;}



#author,#email,#url,#comment{font:1.1em arial,helvetica,verdana,sans-serif;border:1px solid #BBB;padding:2px;}



#comment{width:99%;overflow:hidden;}



#commentform p small{font-size:10px;color:#7F7F7F;}



.commentslist code{background:transparent;}



#commentform textarea{width:99%;height:255px;border:1px solid #666;padding:2px 0;margin-top:3px;color:#000;background:#fff;}



#commentform input{border:1px solid #666;padding:2px 0;margin-top:3px;color:#000;background:#fff;}



#commentform #submit,#submits,#submitl,#submitsl{background:transparent;font:normal 18px arial,tahoma,verdana,sans-serif;color:#666;border:1px solid #666;width:100%;height:25px;cursor:pointer;text-transform:uppercase;letter-spacing:-1px;}







/* ----------------------------------- tooltip */



#toolTip{position:absolute;z-index:1000;width:170px;background:#fff;text-align:left;padding:8px;min-height:1em;}



#toolTip p{margin:0;padding:0;color:#000;font:14px/12px georgia,arial,sans-serif;}



#toolTip p em,#toolTip p em span{display:none;}







/* ----------------------------------- clearfix */



.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;} .clearfix{display:inline-block;}* html .clearfix{height:1%;}.clearfix{display:block;}



hr.clear{clear:both;visibility:hidden;margin:0;padding:0;}







/* ----------------------------------- domtabs */

#bar .domtabs{float:left;width:99%;list-style-type:none;margin:0;padding:0;font:12px century gothic,arial,helvetica,sans-serif;font-weight:700;text-shadow:#000 0 1px 1px;}

#bar .domtabs li{float:left;}

#bar .domtabs li a{display:block;padding:5px 10px;border:0;text-decoration:none;color:#fff;background:#EF3F18;}

#bar .domtabs a:hover{background:#ccc;}

#bar .domtabs li.active a{border:0;background:#fff;color:#EF3F18;}

#bar .domtab a img{border:1px solid #ccc;max-width:98%;margin:5px auto;padding:2px;display:block;text-align:center;}







/* ----------------------------------- floatss */



.aligncenter,.center{display: block;margin:0 auto;text-align:center;padding:3px;}



.alignright,.right {float: right;padding: 4px;margin: 0 0 2px 7px;display: inline;}



.alignleft ,.left{float: left;padding: 4px;margin: 0 7px 2px 0;display: inline;}







/* ----------------------------------- flickr */



.ff a img{border:.08em solid #ccc;padding:.077em;width:3.5em;height:3.5em;margin:5px;}



.ff a:hover img{border:.08em solid #333;width:3.5em;height:3.5em;margin:5px;padding:.077em;}







/* ----------------------------------- ads */



.ad{border:0;padding:0;width:100%;margin:0;text-align:center;}



.ad a img{border:0;width:125px;height:125px;margin:0 5% 10px 0;padding:0;float:left;display:inline-block;}







.sads{border:0;padding: 0;width:100%;margin:0;clear:both;}



.sads a img{border:0;margin:0;padding:0;}







.ads{border:0;padding:20px 0;width:99%;margin:0;clear:both;}



.ads a img{border:0;width:125px;height:125px;margin-right:1%;padding:2px;float:left;}







.mright {float: right;padding:0;margin:0;display: inline-block;}



.mleft{float: left;padding:0;margin:0;display: inline-block;}



.sleft{float: left;padding:4px;margin:0 7px 2px 0;display: inline-block;background:#fafafa;}







/* ----------------------------------- single navi */



.navigation{clear:both;border:1px dotted #ccc;width:92%;margin:10px 0;padding:5px;display:block;}



.navright {float: right;display: inline-block;border:1px dotted #ccc;margin:0;padding:5px;}



.navleft{float: left;display: inline-block;border:1px dotted #ccc;margin:0;padding:5px;}



.rss a img{border:0;padding:2px;margin:0;}







/* ----------------------------------- basics */



table{width:100%;background:#fff;border:1px solid #fafafa;color:#333;margin:12px 0;}



caption{font-size:.8em;font-style: italic;text-align:right;color:#333;}



td{padding:.3em;border:1px solid #ccc;}



tr{color:#333;background:#fff;}



tr.alt,tr.even{background:#fafafa;}



th{padding:.3em;color:#333;background:#fafafa;border:1px solid #ccc;}



td a,th a{font-weight:bold;color:#EF3F18;}







dl{margin:12px 0;border-bottom:1px solid #ccc;padding:0.5em 0;}



dt{display:inline;margin:9px 0;padding:0;color:#333;font-style:italic;}



dd{display:block;margin:7px 0;padding:0;}



dd a{color:#333;}



dd a:hover{color:#333;}







code{padding:0 3px;margin:12px 0;background:#fafafa;}



pre{overflow:auto;padding:9px;background:#fafafa;border:1px solid #ccc;}



pre code{padding:0;background:transparent;}







.wp-caption{padding:6px 1px 0 1px;background:#fafafa;text-align:center;}



.wp-caption .wp-caption-text{margin:0;padding:0 5px;text-align:right;font-size:.8em;color:#666;}



.wp-caption img{margin:0 auto;padding:0;border:1px solid #666;}



.gallery{display:block;text-align:center;margin:18px 0;}



.gallery img{border:1px solid #ccc;}







/* -----------------------------------  Panel Tab */



.tab{background:transparent;height:42px;position:relative;top:0;z-index:999;}



.tab ul.login {display: block;position: relative;float: right;clear: right;height: 42px;width: auto;font-weight:400;line-height: 42px;margin: 0;right:10px;color:#333;font-size:90%;text-align: center;}



.tab ul.login li.left {background:transparent;height: 42px;width: 30px;padding: 0;margin: 0;display: block;float: left;}



.tab ul.login li.right {background:transparent;height: 42px;width: 30px;padding: 0;margin: 0;display: block;float: left;}



.tab ul.login li {text-align: left;padding: 0 6px;display: block;float: left;height: 42px;background:transparent;}



.tab ul.login li a {color:#333;}



.tab ul.login li a:hover {color:#ccc;}



.tab .sep {color:#333;}



.tab a.open, .tab a.close {height: 20px;line-height: 20px !important;padding-left: 30px !important;cursor: pointer;display: block;width: 100px;position: relative;top: 5px;}
.tab a.open,.tab a.close,.tab a:hover.open,.tab a:hover.close {background:transparent;}


/* ---------------------------------- bp */
#footer .fcount{color:#333;font-size:80%;background:transparent;}
.col1f ul li span,.col2f ul li span,.col3f ul li span{font-size:80%;}
.col1f ul li img,.col2f ul li img,.col3f ul li img,.col6f ul li img{float:right;width:25px;height:25px;}
#s_footer blockquote{display:none;}
#sfversion{display:none;height:0px;}
.info-group .clear {clear: both;}
.inner-tube {float: left;width: 95%;}

#main h2, h3#respond, h3#responses {padding-bottom: 0.25em;border-bottom: 1px solid #ccc;margin-bottom: 1em;clear:both;}
#main  h3 {padding-bottom: 0.25em;margin: 1em 0;}

/* ----------------------------------- ads */
#bigad{width:980px;background:transparent url() bottom center no-repeat;padding:0;margin:3px auto;display:block;height:195px;overflow:hidden;}
#postad,#postad2{width:100%;background:transparent url() bottom center no-repeat;padding:0;margin:3px auto;display:block;float:left;width:100%;height:155px;overflow:hidden;}

#barad,#fooad{width:100%;background:transparent url() bottom center no-repeat;padding:0;margin:0;display:block;height:295px;overflow:hidden;}

#bigad,#postad,#barad,#fooad{border:1px solid #ccc;}



/* ----------------------------------- i frames ****************/

.fan_box,.full_widget,#stream_content{width:100%;display:block;clear:both;border:0 !important;background:transparent !important;color:#333;font:14px/20px Arial,Tahoma,Helvetica,Sans-Serif;}

#stream_content a,#stream_content a:visited,.twtr-timestamp a{color:#EF3F18;text-decoration:none;}

#stream_content a:hover{text-decoration:none;color:#333;}

.twtr-tweet-wrap{background:transparent !important;}



/* ----------------------------------- icons */ 

.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c9,.c10,.c11,.c12{display:none;}

.m1,.m2,.m3,.m4,.m5{background:transparent;width:23px;height:25px;margin:0px 0 0 0;padding:0 10px 0 0;float:right;}


/* ----------------------------------- slider post */

#slidebox{width:400px;padding:10px;background-color:#fff;border-top:3px solid #EF3F18;position:fixed;z-index:999 !important;bottom:50px;right:-430px;-moz-box-shadow:-2px 0px 5px #aaa;-webkit-box-shadow:-2px 0px 5px #aaa;box-shadow:-2px 0px 5px #aaa;}

#slidebox p, a.more{font-size:11px;text-transform:uppercase;font-family: Arial,Helvetica,sans-serif;letter-spacing:1px;color:#555;}

#slidebox ul{color:#EF3F18;font-size:18px;margin:0 20px 20px 0;list-style:none;}

a.close{background:transparent url(close.gif) no-repeat top left;width:13px;height:13px;position:absolute;cursor:pointer;top:10px;right:10px;}
a.close:hover{background-position:0px -13px;}

/* ----------------------------------- shop post */
#postmeta{background:transparent;width:100%;height:190px;margin:0;padding:0;display:block;overflow:hidden;}
#postmeta .panel{float:left;overflow:hidden;margin:0 20px 0 0;width:150px;background:transparent;height:150px;border:0;}
#postmeta .lead{overflow:hidden;margin:0;width:130px;background:transparent;height:130px;border:0;}
#postmeta .panel .entry{text-align:left;overflow:hidden;margin:5px 0 0 0;padding:0;font-size:80%;line-height:100%;}
#postmeta h4 a{font:15px century gothic,helvetica,arial,tahoma;font-weight:700;text-transform:uppercase;height:18px;overflow:hidden;display:block;margin:1px 0 0 0;padding:0;}
#postmeta .panel img{background:transparent;margin:0;padding:0;width:100%;height:100%;}